{% extends "base-admin.html.twig" %}

{% block title %}Partenaires - {{parent()}}{% endblock %}

{% block main %}
<section class="admin-section">
	<div class="wrap">
		<h1 class="section-title">Partenaires</h1>
		<div class="admin-buttons">
			<a href="{{path('alloservice_admin_partner_add')}}" class="btn btn-yellow"><i class="fa fa-plus"></i> Ajouter</a>
		</div>

		<form method="POST">
			<div class="admin-section-content">
				<table class="tab">
					<thead>
						<th width="50px"></th>
						<th>#ID</th>
						<th>Nom du partenaire</th>
						<th>Logo</th>
						<th>Description</th>
						<th width="120px">Options</th>
					</thead>
					<tbody>
					{%for entity in tab%}
						<tr>
							<td><input type="checkbox" name="del[]" value="{{entity.id}}"/></td>
							<td>{{entity.id}}</td>
							<td>{{entity.name}}</td>
							<td>
								{%if entity.src is not null%}
								<img src="{{asset(entity.getWebPath())}}" alt="{{entity.name}}" style="max-width:80px">
								{%else%}
								{{entity.svg | raw}}
								{%endif%}
							</td>
							<td>{{entity.description}}</td>
							<td>
								<a href="{{path('alloservice_admin_partner_edit',{'id': entity.id})}}"><i class="fa fa-edit"></i> Modifier</a>
							</td>
						</tr>
					{%endfor%}
					</tbody>
				</table>
				<div class="admin-buttons">
					<button type="submit" class="btn btn-yellow" onclick="return confirm('Voulez-vous supprimer la sélection ?');"><i class="fa fa-trash"></i> Supprimer la sélection</button>
				</div>
			</div>
		</form>
		<div class="navigation">
		    {{ knp_pagination_render(tab) }}
		</div>
	</div>
</section>
{% endblock %}
