{% extends "layout.html.twig" %}

{% block title %} Devenez jobeur et augmentez vos revenus - {{ parent() }} {% endblock %}

{% block body %}
<!--[if lte IE 9]><p class="outdated-browser">Votre navigateur semble trop ancien. <a href="http://browsehappy.com/" target="_blank">Utilisez un navigateur moderne</a> pour profiter pleinement des fonctionnalités du site.</p><![endif]-->
    <div class="bg-become bg-cover">
        <!--navbar-->
        {% include "inc/nav.html.twig" %}
        <div class="index-become-hero">
            <div class="container">
                <h1 class="hero-title">Développez votre activité<br>de service à la personne</h1>
                <h2 class="hero-subtitle">Choisissez vos jobs et augmentez vos revenus</h2>
            </div>
        </div>
        <div class="pt-4 pb-3 bg-white-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Bricolage" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Bricolage</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M473.68 168L466 696.9c0 15.5 18.9 28 42.2 28 23.3 0 42.3-12.6 42.3-28L542.72 168H664.2c6.6 0 12-5.7 12-12 0-3.3-65.1-26.7-79.7-35.3-14.6-8.6-30.3-33.7-30.3-33.7-3.8-6.8-5.4-12-12-12h-168c-6.6 0-12 5.4-12 12v69c0 6.6 5.4 12 12 12h87.48zm34.52 522.8c-6 0-10.9-4.8-10.9-10.7 0-5.9 4.9-10.7 10.9-10.7s10.9 4.8 10.9 10.7c0 5.9-4.9 10.7-10.9 10.7zM309.3 146c0-41.07-31.8-72.8-71-72.8s-71 31.75-71 71c0 1.75-5.1 349.44-5.2 353.78-33.6 24.2-53.4 62.68-53.4 107.82 0 51.46 24.9 94.3 66.13 116.33l22.07 11.8V708.9l.26-72.86 40.73-21.82 41 22v97.4l21.93-11.42c42.2-21.98 67.37-64.65 67.37-116.4 0-45.57-19.73-83.22-53-108.22-.14-5.62-5.9-351.58-5.9-351.58z" fill="#4D5560"></path>
                                    <path d="M285.44 514.2l7.03 4.3c28.67 17.55 45.73 48.9 45.73 87.3 0 28.4-13.16 53.8-29.5 74.54V618.2l-7.72-4.22-56-30-7.08-3.8-7.08 3.8-56 30-7.9 4.24v61.08c-17.93-18.07-28.22-43.63-28.22-73.5 0-37.78 17.17-68.75 46.2-87l6.88-4.34.12-8.14 5.4-360v-2.12c0-22.68 18.35-41 41-41 22.64 0 41 18.3 41 40.9v1.9l6 359.95.14 8.24z" fill="#FFF"></path>
                                    <path d="M259.5 146h-42.4c-.4-1-.5-3.1-.5-4.8 0-12 9.7-21.7 21.7-21.7s21.7 9.7 21.7 21.7c0 1.7-.2 3.8-.5 4.8z" fill="#4D5560"></path>
                                    <path d="M264.6 165h-53l-4 342h61" fill="#B8C0CC"></path>
                                </g>
                            </svg>
                            <span>Bricolage</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Jardinage" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Jardinage</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M580.03 361.16c10.18-1.12 20.64-2.5 30.53-3.8 19-2.6 35.42-4.7 47.03-4.7 6.13 0 11.03.67 15.45 2.1 5 1.45 9.4 3.85 13.05 7.1 6.62 5.87 10.36 14.22 10.36 22.95 0 47.9-26.97 132.4-52.1 195.46-14.12 35.32-29.2 67.58-42.24 90.8-7.5 13.35-14.3 23.53-20.64 31.2-4.13 5-16.9 20.36-35.7 20.36-18.9 0-31.68-15.36-35.9-20.35-6.43-7.68-13.25-17.86-20.73-31.3-12.96-23.13-27.84-55.48-41.85-90.9-24.86-62.88-51.35-147.26-51.35-195.35 0-8.64 3.74-17 10.27-22.85 3.65-3.36 8.06-5.76 13.05-7.2 4.32-1.34 9.22-1.92 15.36-1.92 11.42 0 27.64 2.1 46.45 4.6 10.15 1.36 20.93 2.8 31.4 3.93l-6.83-257.92c0-14.78 18.15-26.88 40.5-26.88 22.37 0 40.6 12.1 40.7 26.88l-6.82 257.8zm-33.87-231.3c5.76 0 10.46-4.62 10.46-10.28 0-5.66-4.7-10.27-10.46-10.27-5.76 0-10.46 4.62-10.46 10.28 0 5.66 4.7 10.27 10.46 10.27z" fill="#4D5560"></path>
                                    <path d="M667.57 384.52c0 80.54-92.8 309.1-121.9 309.1-29.75 0-120.93-228.56-120.93-309.1 0-2.2 3.65-3.07 9.9-3.07 21.78 0 75.14 10.75 111.04 10.75 35.9.1 89.84-10.75 111.9-10.75 6.25 0 10 .87 10 3.07z" fill="#FFF"></path>
                                    <path d="M545.68 405.93c-.96 0-6.72-1.05-7.58-.96-48.38 5-88.5-9.4-88.5-1.34 0 64.5 71.32 252.08 93.3 252.08.86 0 1.82-.28 2.78-.86v-248.9z" fill="#B8C0CC"></path>
                                    <path d="M102.15 159.38c-.74-1.63-1.15-3.43-1.15-5.34V91.07c0-7.3 6.05-13.15 13.44-13.15 7.4 0 13.43 5.86 13.43 13.15V141l29.28 2.2V91.07c0-7.3 6.05-13.15 13.44-13.15 7.38 0 13.42 5.86 13.42 13.15v53.76c9.7.57 19.58 1.15 29.18 1.63V90.98c0-7.3 6.05-13.16 13.44-13.16 7.4 0 13.44 5.86 13.44 13.16v56.63c5.08.1 9.88.2 14.2.2 4.5 0 9.6 0 14.97-.2V91.08c0-7.3 6.05-13.15 13.44-13.15 7.38 0 13.43 5.86 13.43 13.15v55.5c9.6-.5 19.48-1.07 29.18-1.65V91.07c0-7.3 6.05-13.15 13.44-13.15 7.4 0 13.44 5.86 13.44 13.15v52.13l29.28-2.2V91.16c0-7.3 6.04-13.15 13.43-13.15 7.38 0 13.43 5.85 13.14 13.05v62.97c0 1.87-.4 3.65-1.1 5.25.16.25.24.5.24.8 0 6.82-72.58 110.77-124.95 144.52l12.84 371.25c0 14.78-18.23 26.88-40.6 26.88-22.36 0-40.5-12-40.5-26.88l12.85-371.3C174.45 270.77 101.96 167 101.96 160.1c0-.25.06-.5.2-.72zM254.47 670c5.86 0 10.56-4.6 10.47-10.26 0-5.66-4.7-10.27-10.47-10.27-5.76 0-10.46 4.6-10.46 10.27 0 5.66 4.7 10.27 10.47 10.27z" fill="#4D5560"></path>
                                </g>
                            </svg>
                            <span>Jardinage</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Déménagement" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Déménagement</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M243.74 170.53l108.7 405.52 196-52.54c9.6-2.56 19.47 3.14 22.05 12.74 2.56 9.6-3.14 19.47-12.74 22.05l-213.4 57.2c-9.6 2.56-19.47-3.14-22.05-12.74L210.44 185.3l-50.55-40.9c-7.73-6.26-8.93-17.6-2.67-25.32 6.26-7.73 17.6-8.93 25.32-2.67l55.1 44.6c3.13 2.54 5.2 5.9 6.12 9.53z" fill-rule="nonzero" fill="#4D5560"></path>
                                    <path d="M346.1 695.6c41.03 0 74.3-33.27 74.3-74.3 0-41.03-33.27-74.3-74.3-74.3-41.03 0-74.3 33.27-74.3 74.3 0 41.03 33.27 74.3 74.3 74.3z" fill-rule="nonzero" fill="#4D5560"></path>
                                    <path d="M346.1 645.6c-13.42 0-24.3-10.88-24.3-24.3s10.88-24.3 24.3-24.3 24.3 10.88 24.3 24.3-10.88 24.3-24.3 24.3z" fill="#FFF"></path>
                                    <path d="M644 454l-48.5-180.7c-3.34-12.45-16.14-19.93-28.66-16.6l-240.62 64.5c-12.47 3.34-19.95 16.14-16.6 28.66l48.5 180.73c3.32 12.45 16.12 19.93 28.64 16.6l240.62-64.5c12.47-3.34 19.95-16.14 16.6-28.66V454z" fill-rule="nonzero" fill="#4D5560"></path>
                                    <path d="M385.38 516.45l-45-167.97 227.82-61.1 45.1 168.02" fill="#B8C0CC"></path>
                                    <path d="M494.4 354.8l-5 4.5h-.2l-10.7-2.1-12.9 8.4-1.1.4-6.2-1-5.6 4.1-.2.1-7.8-.4-9.7 5.1-4.7 1.2-12.7-47.3 71.5-19.2 11.9 44.5" fill="#FFF"></path>
                                </g>
                            </svg>
                            <span>Déménagement</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Ménage" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Ménage</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M349.9 412.6c-74.9-3.3-223.8-9.1-243 87.5-11.5 58.2 62.1 101.3 102.9 125.4 54.5 32.3 113 50.7 175 62.4-28.6-58.5-5.2-120.8 2.4-180.9 6.8-52.8-.5-58.9-37.3-94.4z" fill="#FFF"></path>
                                    <path d="M187.2 438.1s-43 7.7-66.7 39.4c-8.5 11.3-20.5 46-6.4 68.6 14.1 22.6 54.6 61.3 70 68.6 28.3 13.4 164.3 92.5 191.2 73.3 9.9-7.1 4.2-10.8 4.2-10.8S306.5 645 206.1 539c-55.9-59.1-18.9-100.9-18.9-100.9zM230.1 375.3c-18.23 0-33-14.77-33-33s14.77-33 33-33 33 14.77 33 33-14.77 33-33 33zm56.4-54.4c-13.64 0-24.7-11.06-24.7-24.7 0-13.64 11.06-24.7 24.7-24.7 13.64 0 24.7 11.06 24.7 24.7 0 13.64-11.06 24.7-24.7 24.7zm-26.8-62.3c-8.67 0-15.7-7.03-15.7-15.7 0-8.67 7.03-15.7 15.7-15.7 8.67 0 15.7 7.03 15.7 15.7 0 8.67-7.03 15.7-15.7 15.7z" fill="#B8C0CC"></path>
                                    <path d="M335.12 427c-20.74-.8-35.2-1.04-51.78-.7-27.22.54-51.4 2.82-72.77 7.27-51.33 10.7-81.67 32.8-88.95 69.44-4.4 22.25 7.22 44.15 32.8 66.63 10.92-16.47 22.75-32.6 38.78-44.23 15.6-11.4 32.3-21.4 49-31-16.5 14.7-32.8 29.6-48 45.5-11.1 11.7-20.95 24.54-30.3 37.6 4.73 3.7 9.82 7.45 15.28 11.2 11 7.57 19.66 12.9 38.27 23.9 7.9 4.67 15.93 9.1 24.13 13.25.92-2.7 1.7-4.88 2.02-5.95 3.3-11.1 8.2-20.3 15-29.5 10.2-13.7 21.3-26.7 32.5-39.5-9.8 17.3-19.4 34.8-27.3 53.1-3.92 9-7.13 18.4-9.92 27.86 32.6 15.27 67.94 26.93 107.47 35.87-3.35-14.85-4.74-24-5.22-35.74-.74-18.28.95-36.97 4.88-60.75 1.16-6.93 2.2-12.65 4.42-24.7 3.94-21.2 5.47-30.17 6.9-41.47 2.45-18.96 2.88-30.34 1.05-38.84-5.93-4.32-12.33-10-19.2-16.9-8.15-8.15-14.54-15.57-19.05-22.34zm69.3 47.96c.26 9.35-.6 20.32-2.34 33.92-1.52 12.03-3.12 21.36-7.16 43.16-2.2 11.84-3.2 17.43-4.3 24.1-7.66 46.26-6.43 76.36 7.66 105.17l13.13 26.9-29.38-5.56c-69.46-13.1-127.46-33.18-179.85-64.22-19.18-11.33-28.26-16.92-40-25-22.3-15.35-39.7-30.73-52.08-47.48-15.95-21.58-22.68-44.62-17.9-68.76 5.32-26.82 19.57-48.2 41.4-64.1 18.68-13.6 42.48-22.96 70.85-28.88 23.4-4.87 49.35-7.32 78.28-7.9 15.47-.3 29.06-.15 46.98.47.78-1.26 1.73-2.47 2.86-3.6 7.42-7.42 25.9-14.43 43.1-16.1 3.2-4.2 7.5-8.88 13.23-14.62 1.4-1.4 2.9-2.88 4.57-4.52-.3.3 10.26-9.93 12.8-12.47 8.67-8.67 17.16-16.64 30.75-29.04 7.76-7.14 9.4-8.58 18.78-16.6 5.9-5.07 10.35-9.14 18.73-17.22 24.92-24 48.83-48.47 80.95-82.48 7.18-7.6 11.43-12.13 26.47-28.14 1.98-2.1 10.98-11.74 13.45-14.37 11.24-11.98 19.3-20.4 27.44-28.6 12.68-12.9 23.26-19.62 34.4-22.7 22.74-6.5 38.03 2.18 41.48 21 1.1 6.02 1 12.52-1.12 19.93-2.85 9.98-9.04 20.1-19.22 30.17-1.07 1.36-3.28 3.5-7.6 7.55l-7.63 7.07c-3.86 3.68-7.9 7.5-12.47 11.8-3.46 3.27-6.23 5.87-12.48 11.74-18.44 17.25-37.03 34.74-55.66 52.37-17.75 16.8-31.03 29.88-44.02 43.34-1.65 1.7-3.3 3.45-5 5.2-10.1 10.6-13.86 14.7-41.32 44.6l-12.3 13.54c-7.97 8.76-13.9 15.08-19.76 20.94-3.12 3.08-3.86 3.83-12.23 12.42l-1.35 1.4c-6.92 7.1-11.4 11.52-15.74 15.5-1.46 1.3-2.93 2.5-4.4 3.65-1.76 17.03-8.7 35.15-16.06 42.44-1.8 1.8-3.8 3.14-5.93 4.02zm230.5-304.33c1.4 0 3.26-.4 5.4-1.27 4.9-1.95 10.57-5.86 15.74-11 5.14-5.13 9.04-10.78 11-15.68.86-2.17 1.27-4.04 1.27-5.44 0-.94-.18-1.42-.4-1.64-.2-.2-.65-.36-1.58-.37-1.4 0-3.26.4-5.42 1.27-4.88 1.96-10.55 5.9-15.7 11.04-5.13 5.13-9.03 10.78-10.98 15.68-.87 2.17-1.28 4.04-1.28 5.44 0 .94.18 1.42.37 1.6.2.2.65.36 1.58.37z" fill-rule="nonzero" fill="#4D5560"></path>
                                </g>
                            </svg>
                            <span>Ménage</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Garde d&#39;enfants" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Baby sitting</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M416 435c0-21 17.02-38 38-38h204c21 0 38 17.02 38 38v204c0 21-17.02 38-38 38H454c-21 0-38-17.02-38-38V435z" fill="#4D5560"></path>
                                    <path d="M446 435v204c0 4.4 3.58 8 8 8h204c4.4 0 8-3.58 8-8V435c0-4.4-3.58-8-8-8H454c-4.4 0-8 3.58-8 8z" fill="#FFF"></path>
                                    <path d="M466 453.52V620c0 3.6 2.92 6.52 6.52 6.52H639c3.6 0 6.52-2.92 6.52-6.52V453.52c0-3.6-2.92-6.52-6.52-6.52H472.52c-3.6 0-6.52 2.92-6.52 6.52z" fill="#B8C0CC"></path>
                                    <path d="M607.1 558.3c0 3.66-.9 7.6-2.7 11.85-1.78 4.24-4.6 8.4-8.46 12.5-3.86 4.1-8.78 7.4-14.77 9.96-6 2.56-12.97 3.84-20.94 3.84-6.04 0-11.53-.58-16.48-1.72-4.95-1.15-9.44-2.93-13.48-5.35-4.03-2.42-7.74-5.6-11.13-9.57-3.02-3.6-5.6-7.62-7.73-12.07-2.13-4.46-3.73-9.2-4.8-14.26-1.07-5.05-1.6-10.42-1.6-16.1 0-9.2 1.34-17.47 4.02-24.76 2.7-7.28 6.53-13.52 11.53-18.7 5-5.18 10.86-9.13 17.57-11.84 6.72-2.7 13.9-4.06 21.5-4.06 9.26 0 17.52 1.85 24.75 5.55 7.24 3.7 12.8 8.27 16.65 13.7 3.85 5.45 5.78 10.6 5.78 15.44 0 2.64-.94 5-2.82 7.02-1.87 2.03-4.14 3.05-6.8 3.05-2.96 0-5.2-.7-6.67-2.1-1.48-1.42-3.13-3.84-4.95-7.28-3.02-5.7-6.58-9.93-10.67-12.74-4.1-2.82-9.12-4.22-15.1-4.22-9.55 0-17.14 3.62-22.8 10.86-5.64 7.24-8.46 17.52-8.46 30.86 0 8.9 1.25 16.3 3.75 22.22 2.5 5.9 6.04 10.33 10.62 13.24 4.57 2.92 9.94 4.38 16.08 4.38 6.67 0 12.3-1.65 16.92-4.96 4.6-3.3 8.08-8.16 10.43-14.57 1-3.02 2.2-5.48 3.67-7.38 1.46-1.92 3.8-2.87 7.03-2.87 2.76 0 5.13.97 7.1 2.9 2 1.92 2.98 4.32 2.98 7.18z" fill="#4D5560"></path>
                                    <path d="M105 435c0-21 17.02-38 38-38h204c21 0 38 17.02 38 38v204c0 21-17.02 38-38 38H143c-21 0-38-17.02-38-38V435z" fill="#4D5560"></path>
                                    <path d="M135 435v204c0 4.4 3.58 8 8 8h204c4.4 0 8-3.58 8-8V435c0-4.4-3.58-8-8-8H143c-4.4 0-8 3.58-8 8z" fill="#FFF"></path>
                                    <path d="M246.96 593.85h-35c-5.06 0-8.66-1.14-10.82-3.4-2.16-2.27-3.25-5.87-3.25-10.82v-86.1c0-5.05 1.1-8.68 3.3-10.9 2.23-2.2 5.8-3.3 10.76-3.3h37.1c5.48 0 10.2.32 14.23 1 4 .68 7.6 1.98 10.77 3.9 2.7 1.62 5.1 3.67 7.18 6.14 2.1 2.48 3.68 5.2 4.77 8.2 1.1 3 1.64 6.16 1.64 9.5 0 11.45-5.73 19.84-17.2 25.15 15.06 4.8 22.6 14.12 22.6 27.97 0 6.4-1.65 12.17-4.93 17.3-3.28 5.13-7.7 8.92-13.28 11.36-3.5 1.46-7.5 2.5-12.03 3.1-4.53.6-9.82.9-15.86.9zM245.24 543H221.1v33.43h24.92c15.68 0 23.52-5.66 23.52-16.96 0-5.78-2.04-9.97-6.1-12.58-4.06-2.6-10.13-3.9-18.2-3.9zm-24.14-46.26v29.6h21.25c5.78 0 10.25-.54 13.4-1.63 3.15-1.1 5.56-3.17 7.22-6.24 1.3-2.2 1.96-4.64 1.96-7.35 0-5.77-2.06-9.6-6.18-11.5-4.1-1.9-10.4-2.86-18.82-2.86H221.1z" fill="#454B54"></path>
                                </g>
                                <g>
                                    <path d="M221 162c0-21 17.02-38 38-38h204c21 0 38 17.02 38 38v204c0 21-17.02 38-38 38H259c-21 0-38-17.02-38-38V162z" fill="#4D5560"></path>
                                    <path d="M251 162v204c0 4.4 3.58 8 8 8h204c4.4 0 8-3.58 8-8V162c0-4.4-3.58-8-8-8H259c-4.4 0-8 3.58-8 8z" fill="#FFF"></path>
                                    <path d="M271 180.52V347c0 3.6 2.92 6.52 6.52 6.52H444c3.6 0 6.52-2.92 6.52-6.52V180.52c0-3.6-2.92-6.52-6.52-6.52H277.52c-3.6 0-6.52 2.92-6.52 6.52z" fill="#B8C0CC"></path>
                                    <path d="M389.48 308.52l-5.46-14.38h-46.57l-5.47 14.7c-2.13 5.72-3.95 9.58-5.46 11.6-1.5 2-4 3-7.43 3-2.92 0-5.5-1.07-7.74-3.2-2.24-2.14-3.36-4.56-3.36-7.27 0-1.56.26-3.18.78-4.85.52-1.66 1.38-3.98 2.58-6.95l29.3-74.37 3-7.7c1.18-3 2.43-5.48 3.75-7.46 1.34-1.98 3.1-3.58 5.25-4.8 2.16-1.23 4.83-1.84 8-1.84 3.24 0 5.93.6 8.1 1.84 2.15 1.22 3.9 2.8 5.23 4.72 1.32 1.93 2.44 4 3.36 6.2.9 2.23 2.07 5.18 3.47 8.88l29.93 73.9c2.35 5.63 3.52 9.72 3.52 12.27 0 2.67-1.1 5.1-3.32 7.32-2.2 2.2-4.88 3.32-8 3.32-1.83 0-3.4-.33-4.7-.98-1.3-.65-2.4-1.54-3.28-2.66-.88-1.12-1.83-2.83-2.85-5.15-1-2.32-1.9-4.36-2.62-6.13zm-45.93-31.8h34.22l-17.27-47.27-16.95 47.27z" fill="#FFF"></path>
                                </g>
                            </svg>
                            <span>Garde d'enfants</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Animaux" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Animaux</title>
                                <g fill-rule="evenodd" fill="none" transform="translate(111 121)">
                                    <path d="M354 451v53H224v-53c-65.84-1.2-124.4-51.38-138.08-121.74-5.84-30.04 5.3-80.63 5.3-80.63S90 233.26 90 225.5c0-32.24 1-53.48 4.18-74.07 4.2-27.15 12.14-49.85 25.45-69.17C150.07 38.06 204.8 17 289.65 17c84.85 0 139.6 21.07 170.03 65.26 13.3 19.32 21.25 42.02 25.45 69.17 3.18 20.6 4.18 41.83 4.18 74.07 0 11.47-1.6 26.2-1.6 26.2s9.64 51.24 4.53 77.56C478.53 399.66 419.9 449.88 354 451z" fill="#FFF"></path>
                                    <path d="M490.83 335.74c-14 58.82-59.67 102.37-113.83 112.86V493c17.68 0 32 14.32 32 32v2c0 17.67-14.33 32-32 32H201c-17.68 0-32-14.32-32-32v-2c0-17.67 14.33-32 32-32h1v-44.24c-54.13-10.12-99.94-53.25-114.36-111.7l-2.2 5.35c-11.63 28.3-53.17 23.08-57.46-7.2L1.3 146.5c-1.54-10.9 3-21.74 11.82-28.3l150-111.3c19.16-14.2 43.46-1.56 47.45 18.12C233.33 19.64 259.6 17 289.65 17c29.93 0 56.1 2.62 78.8 7.95C372.47 5.3 396.74-7.3 415.87 6.9l150 111.3c8.83 6.56 13.36 17.4 11.82 28.3l-26.68 188.7c-4.3 30.28-45.83 35.5-57.46 7.2l-2.73-6.66zm-31.1-75.6l-83-201.98C354.35 50.94 326 47 290.08 47c-36.64 0-65.4 4.1-88 11.6l-82.82 201.53c-6.5 19.53-8.2 41.3-3.88 63.4 12.55 64.4 71.26 107.18 131.15 95.57 9.77-1.9 18.97-5.12 27.47-9.48v-20.8c-20.3-3.32-35-13.18-35-24.82 0-14.36 22.4-26 50-26s50 11.64 50 26c0 11.64-14.7 21.5-35 24.8v20.3c8.78 4.62 18.32 8.03 28.47 10 59.9 11.6 118.6-31.18 131.15-95.58 4.3-22.1 2.62-43.86-3.88-63.4zM232 493h115v-42.05c-6.88-.25-13.82-1.03-20.78-2.4-13-2.5-25.62-7.03-37.14-13.14 0 0-19.85 9.8-37.15 13.16-6.68 1.3-13.33 2.08-19.93 2.35V493z" fill="#4D5560"></path>
                                    <ellipse cx="202" cy="259" fill="#B8C0CC" rx="75" ry="75"></ellipse>
                                    <ellipse cx="202" cy="259" fill="#4D5560" rx="38" ry="38"></ellipse>
                                    <ellipse cx="378" cy="259" fill="#4D5560" rx="38" ry="38"></ellipse>
                                </g>
                            </svg>
                            <span>Animaux</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Informatique" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Informatique</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M620 451.7V174.3c0-15.03-12.6-26.3-27.3-26.3h-386c-14.87 0-26.7 11.4-26.7 26.3v277.4c0 14.7 11.7 27.3 26.7 27.3h386c14.87 0 27.3-12.5 27.3-27.3z" fill="#4D5560"></path>
                                    <path d="M590 451.7c0-1.73.96-2.7 2.7-2.7h-386c2.1 0 3.3 1.3 3.3 2.7V174.3c0 .88-.44 1.93-1.25 2.7-.7.7-1.5 1-2.05 1h386c-1.17 0-2.7-1.37-2.7-3.7v277.4z" fill="#FFF"></path>
                                    <path d="M669.7 631.9c.9 3.3-5.4 6.1-12 6.1h-514c-6.6 0-12.9-2.9-12-6.1l63-137.2c1.2-3.2 5.4-5.7 12-5.7h386c6.6 0 10.6 2.5 12 5.7l65 137.2z" fill="#4D5560" stroke-width="30" stroke="#4D5560"></path>
                                    <path d="M467 608.8c1.3 6.5-1.4 11.2-8 11.2H343c-6.6 0-9.2-4.6-8-11.2l4-17.9c1.5-6.8 5.4-9.9 12-9.9h100c6.6 0 10.5 3 12 9.9l4 17.9zM377 206.5c0 3.6-2.9 6.5-6.5 6.5h-134c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h134c3.6 0 6.5 2.9 6.5 6.5zM367 240.5c0 3.6-2.9 6.5-6.5 6.5h-124c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h124c3.6 0 6.5 2.9 6.5 6.5zM307 308.5c0 3.6-2.9 6.5-6.5 6.5h-64c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h64c3.6 0 6.5 2.9 6.5 6.5zM407 274.5c0 3.6-2.9 6.5-6.5 6.5h-164c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h164c3.6 0 6.5 2.9 6.5 6.5z" fill="#B8C0CC"></path>
                                    <path d="M296.1 497.7h-28.5c-1.4 0-2.6.5-2.8 1.1l-4.4 13.4c-.2.7.7 1.2 2.1 1.2h29.6c1.4 0 2.7-.5 2.8-1.2l3.3-13.4c.2-.6-.7-1.1-2.1-1.1zm47.3 0h-28.5c-1.3 0-2.5.5-2.7 1.1l-2.9 13.4c-.1.7.9 1.2 2.3 1.2h29.6c1.4 0 2.6-.5 2.7-1.2l1.8-13.4c.1-.6-1-1.1-2.3-1.1zm47.2 0h-28.5c-1.4 0-2.5.5-2.6 1.1l-1.3 13.4c-.1.7 1 1.2 2.4 1.2h29.6c1.4 0 2.5-.5 2.6-1.2l.2-13.4c.1-.6-1-1.1-2.4-1.1zm19.1 15.7h29.6c1.4 0 2.5-.5 2.4-1.2l-1.3-13.4c-.1-.6-1.2-1.1-2.6-1.1h-28.5c-1.3 0-2.4.5-2.4 1.1l.2 13.4c.1.6 1.2 1.2 2.6 1.2zm78.7 0c1.4 0 2.4-.5 2.3-1.2l-2.9-13.4c-.1-.6-1.3-1.1-2.7-1.1h-28.5c-1.4 0-2.4.5-2.3 1.1l1.8 13.4c.1.7 1.3 1.2 2.7 1.2h29.6zm49.1 0c1.4 0 2.4-.5 2.1-1.2l-4.4-13.4c-.2-.6-1.5-1.1-2.8-1.1h-28.5c-1.3 0-2.3.5-2.2 1.1l3.3 13.4c.2.7 1.4 1.2 2.8 1.2h29.7zm-246.6 4.9h-30c-1.4 0-2.7.5-3 1.2l-4.9 14.8c-.2.7.8 1.3 2.2 1.3h31.2c1.5 0 2.8-.6 3-1.3l3.7-14.8c.2-.6-.8-1.2-2.2-1.2zm49.6 0h-30c-1.4 0-2.7.5-2.8 1.2l-3.2 14.8c-.2.7.9 1.3 2.4 1.3h31.2c1.5 0 2.7-.6 2.8-1.3l2-14.8c.1-.6-1-1.2-2.4-1.2zm49.7 0h-30c-1.4 0-2.6.5-2.7 1.2l-1.5 14.8c-.1.7 1.1 1.3 2.5 1.3h31.2c1.5 0 2.7-.6 2.7-1.3l.3-14.8c0-.6-1.1-1.2-2.5-1.2zm20 17.3h31.2c1.5 0 2.6-.6 2.5-1.3l-1.5-14.8c-.1-.7-1.3-1.2-2.7-1.2h-30c-1.4 0-2.6.5-2.5 1.2l.3 14.8c.1.8 1.3 1.3 2.7 1.3zm82.8 0c1.5 0 2.5-.6 2.4-1.3l-3.2-14.8c-.1-.7-1.4-1.2-2.8-1.2h-30c-1.4 0-2.5.5-2.4 1.2l2 14.8c.1.7 1.4 1.3 2.8 1.3H493zm51.7 0c1.5 0 2.5-.6 2.2-1.3l-4.9-14.8c-.2-.7-1.6-1.2-3-1.2h-30c-1.4 0-2.4.5-2.3 1.2l3.7 14.8c.2.7 1.5 1.3 3 1.3h31.3zm-260 7H253c-1.5 0-2.9.6-3.2 1.4l-5.5 16.6c-.3.8.8 1.5 2.3 1.5h33c1.6 0 3-.7 3.2-1.5l4.1-16.6c.4-.7-.7-1.4-2.2-1.4zm52.4 0h-31.7c-1.5 0-2.8.6-3 1.4l-3.5 16.6c-.2.8 1 1.5 2.5 1.5h33c1.6 0 2.9-.7 3-1.5l2.2-16.6c.2-.7-1-1.4-2.5-1.4zm52.5 0h-31.7c-1.5 0-2.8.6-2.8 1.4l-1.6 16.6c-.1.8 1.1 1.5 2.7 1.5h33c1.6 0 2.8-.7 2.9-1.5l.3-16.6c-.1-.7-1.3-1.4-2.8-1.4zm52.5 0h-31.7c-1.5 0-2.7.6-2.7 1.4l.3 16.6c0 .8 1.3 1.5 2.9 1.5h33c1.6 0 2.8-.7 2.7-1.5L445 544c-.2-.7-1.4-1.4-2.9-1.4zm55.4 1.4c-.2-.8-1.5-1.4-3-1.4h-31.7c-1.5 0-2.6.6-2.5 1.4l2.2 16.6c.1.8 1.5 1.5 3 1.5h33c1.6 0 2.7-.7 2.5-1.5l-3.5-16.6zm52.6 0c-.2-.8-1.7-1.4-3.2-1.4h-31.7c-1.5 0-2.6.6-2.4 1.4l4.1 16.6c.2.8 1.6 1.5 3.2 1.5h33c1.6 0 2.6-.7 2.3-1.5l-5.3-16.6zm-336.6-30.6h29.6c1.4 0 2.7-.5 2.8-1.2l4.3-13.4c.2-.6-.8-1.1-2.2-1.1h-28.5c-1.4 0-2.6.5-2.8 1.1l-5.4 13.4c-.1.6.8 1.2 2.2 1.2zm28.4 4.9h-30c-1.4 0-2.7.5-3 1.2l-5.9 14.8c-.2.7.8 1.3 2.2 1.3h31.2c1.5 0 2.8-.6 3-1.3l4.7-14.8c.2-.6-.8-1.2-2.2-1.2zm-8.2 24.3H202c-1.5 0-2.9.6-3.2 1.4l-6.5 16.6c-.3.8.8 1.5 2.3 1.5h33c1.6 0 3-.7 3.2-1.5l5.1-16.6c.4-.7-.7-1.4-2.2-1.4zm319-30.4c.2.7 1.4 1.2 2.8 1.2h29.6c1.4 0 2.4-.5 2.1-1.2l-5.4-13.4c-.2-.6-1.5-1.1-2.8-1.1h-28.5c-1.3 0-2.3.5-2.2 1.1l4.4 13.4zm42.9 22.1l-5.9-14.8c-.2-.7-1.6-1.2-3-1.2h-30c-1.4 0-2.4.5-2.3 1.2l4.7 14.8c.2.7 1.5 1.3 3 1.3h31.2c1.5 0 2.5-.5 2.3-1.3zm10.7 26.3l-6.5-16.6c-.2-.8-1.7-1.4-3.2-1.4H565c-1.5 0-2.6.6-2.4 1.4l5.1 16.6c.2.8 1.6 1.5 3.2 1.5h33c1.6-.1 2.6-.7 2.4-1.5z" fill="#FFF"></path>
                                </g>
                            </svg>
                            <span>Informatique</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="mb-2 text-center text-sm-left">
                            <svg aria-hidden="true" aria-label="Evénement" class="mx-auto d-block d-sm-inline-block align-middle" height="48" role="img" version="1.1" viewbox="0 0 800 800" width="48">
                                <title>Categorie Evénement</title>
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M625 335H175v251.27c0 13.05 10.66 23.73 23.94 23.73h402.12c13.17 0 23.94-10.57 23.94-23.73V335z" fill-rule="nonzero" fill="#FFF"></path>
                                    <path d="M145 586.27V223c0-14.4 12.2-26 27.13-26H262v-24c0-13.25 10.74-24 24-24 13.25 0 24 10.75 24 24v24h180v-24c0-13.25 10.74-24 24-24 13.25 0 24 10.75 24 24v24h89.87c15.05 0 27.13 11.7 27.13 26v363.27c0 29.77-24.25 53.73-53.94 53.73H198.94c-29.77 0-53.94-24.03-53.94-53.73zM625 335H175v251.27c0 13.05 10.66 23.73 23.94 23.73h402.12c13.17 0 23.94-10.57 23.94-23.73V335zm-66 152v-32h32v32h-32zm0-87v-32h32v32h-32zM419 574v-32h32v32h-32zm0-87v-32h32v32h-32zm0-87v-32h32v32h-32zm70 174v-32h32v32h-32zm0-87v-32h32v32h-32zm0-87v-32h32v32h-32zM349 574v-32h32v32h-32zm0-87v-32h32v32h-32zm32-87h-32v-32h32v32zM279 574v-32h32v32h-32zm0-87v-32h32v32h-32zm0-87v-32h32v32h-32zm-70 174v-32h32v32h-32zm0-87v-32h32v32h-32z" fill="#4D5560"></path>
                                    <path d="M538 227h87v78H175v-78h87v8c0 13.25 10.75 24 24 24 13.26 0 24-10.75 24-24v-8h180v8c0 13.25 10.75 24 24 24 13.26 0 24-10.75 24-24v-8z" fill="#B8C0CC"></path>
                                </g>
                            </svg>
                            <span>Conciergerie</span>
                        </div>
                    </div>
                </div>
                <a class="btn btn-xlg btn-blue btn-block mt-3 mb-2 btn-hp d-block d-md-none" data-scroll="true" href="#signup-form">Inscription</a>
            </div>
        </div>
    </div>
    <div class="bg-white pt-4 pb-5"></div>
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6">
                <h2 class="h4 mb-4">Devenez Jobeur et améliorez votre quotidien</h2>
                <ul class="default-list pl-3 mb-4">
                    <li class="mb-3">
                        <p class="font-size-4">
                            <i class="fa fa-chevron-right text-primary"></i>
                            Développez votre activité</p>
                        <p class="text-muted font-size-3">Proposez vos services et remportez des jobs</p>
                    </li>
                    <li class="mb-3">
                        <p class="font-size-4">
                            <i class="fa fa-chevron-right text-primary"></i>
                            Augmentez vos revenus</p>
                        <p class="text-muted font-size-3">Choisissez vos jobs et votre rémunération</p>
                    </li>
                    <li class="mb-3">
                        <p class="font-size-4">
                            <i class="fa fa-chevron-right text-primary"></i>
                            Travaillez en toute sérénité</p>
                        <p class="text-muted font-size-3">Réservation de vos prestations et assurance AXA</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-5 offset-md-0">
                <div class="well-panel well-panel-signup shadow" id="signup-form">
                    <p class="font-size-4 mb-3 text-center">Inscription</p>
                    <div data-identifier="signup_form">
                        <div class="facebook-content">
                            <div class="mb-3" data-component="facebook-login">
                                <a class="btn btn-block btn-lg btn-social btn-facebook" data-fb-login-btn="" href="">
                                    <span class="fab fa-facebook" style="margin-top: 0"></span>
                                    <div class="font-size-4">Inscription avec Facebook</div>
                                </a>
                            </div>
                            <div class="strike mb-3">
                                <span>OU</span>
                            </div>
                            <div class="new_signup_form">
                            {{ form_start(form2) }}
                            {{ form_errors(form2) }}
                                <div class="form-group">
                                    {{ form_errors(form2.lastname) }}
                                    {{ form_widget(form2.lastname) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(form2.name) }}
                                    {{ form_widget(form2.name) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(form2.city) }}
                                    {{ form_widget(form2.city) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(form2.email) }}
                                    {{ form_widget(form2.email) }}
                                </div>
                                {{form_errors(form2.plainPassword.first)}}
                                <div class="form-group">
                                    {{form_widget(form2.plainPassword.first)}}
                                </div>
                                <div class="form-group">
                                    {{form_widget(form2.plainPassword.second)}}
                                </div>
                                <div class="form-check">
                                    <label>
                                        <input class="form-check-input" id="checkbox" name="checkbox" required="true" type="checkbox"/>
                                        <div class="form-check-label font-weight-normal">
                                            Je souhaite qu'on m'informe des nouveautés, cadeaux et bons plans !
                                        </div>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label>
                                        <input class="form-check-input" id="checkbox" name="checkbox" required="true" type="checkbox"/>
                                        <div class="form-check-label font-weight-normal">
                                            Je souhaite recevoir les bons plans des partenaires de Alloservice !
                                        </div>
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-block btn-success mt-3" data-disable-with="Veuillez patienter" data-modal-submit="" name="commit" style="font-weight: 600" type="submit" value="Inscription"><br>
                                <small>
                                    En vous inscrivant vous acceptez les <a href="{{ path('alloservice_site_cgu') }}" class="font-weight-medium textblue target="_blank">Conditions Générales</a> et la <a href="" class="font-weight-medium textblue" target="_blank">Police de Confidentialité</a>.
                                </small>
                            {{ form_end(form2) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-200 py-5 bg-devices">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center"><img alt="Profile devices" class="img-fluid mx-auto" height="400" src="{{ asset('images/profile-devices-174205b98cd6edd3319c59601682b8b61d78cb524a3b90071ae098fde90cc473.svg') }}" width="640"></div>
            <div class="col-md-7">
                <h2 class="h4 mb-4">Créez votre profil en quelques minutes</h2>
                <ul class="default-list pl-3">
                    <li class="mb-3">
                        <p class="font-size-3">
                            <span class="bullet-circle bullet-yellow mr-1">1</span>
                            Complétez et activez votre profil</p>
                    </li>
                    <li class="mb-3">
                        <p class="font-size-3">
                            <span class="bullet-circle bullet-yellow mr-1">2</span>
                            Paramétrez votre Joblist et recevez les jobs que vous souhaitez</p>
                    </li>
                    <li class="mb-3">
                        <p class="font-size-3">
                            <span class="bullet-circle bullet-yellow mr-1">3</span>
                            Proposez vos services pour les jobs qui vous intéressent</p>
                    </li>
                    <li class="mb-3">
                        <a class="btn btn-lg btn-yellow" data-scroll="true" href="#signup-form">Devenir jobeur</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-app-mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="h4 text-white">Téléchargez votre outil de travail</p>
                <span class="h5 font-weight-normal text-white">Recevez les jobs instantanément et postulez du bout des doigts avec l'application Alloservice</span>
                <p class="mt-3 mb-4">
                    <a class="btn btn-lg btn-yellow-apk" href="">Découvrir l'application</a>
                </p>
            </div>
            <div class="col-md-4 text-center"><img alt="Example jobber" height="250px" src="{{ asset('images/example-jobber-2e955e4047aa21a1c3c547de6fedb968d23f029aac795a80bfa8c2b65709d6cb.png') }}"></div>
            <div class="col-md-2">
                <div class="my-3 text-center">
                    <a href="" target="_blank"><img alt="Apple badge" src="{{ asset('images/apple-badge-8dfe72dd6da09f6e42137bc7eeae9bba69540e28fc792aaf96266dc0aed36e0f.png') }}" width="150px"></a>
                </div>
                <div class="text-center">
                    <a href="" target="_blank"><img alt="Google play badge" src="{{asset('images/google-play-badge-82bfd7160c955c71bca4cddf01f9deb0c00b2d1319.png')}}" width="150px"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white py-5">
    <div class="container">
        <h2 class="h4 mb-4">C’est vous qui choisissez !</h2>
        <div class="row">
            <div class="col-md-4">
                <svg aria-hidden="true" aria-label="Icone devenir jobeur 1" class="d-inline-block align-middle" height="96" role="img" version="1.1" viewbox="0 0 96 96" width="96">
                    <path d="M42 20H23v58h50V20H54v-1c0-.56-.45-1-1-1H43c-.54 0-1 .45-1 1v1zm0 2h-6v8h24v-8h-6v3H42v-3zm-8 0h-9v54h46V22h-9v10H34V22zm22.33 45H45.67c-.37 0-.67.45-.67 1s.3 1 .67 1h10.66c.37 0 .67-.45.67-1s-.3-1-.67-1zm-11.95-5.78l-6.3 5.44-2.37-2.37c-.38-.4-1.02-.4-1.4 0-.4.38-.4 1.02 0 1.4l3 3c.2.2.44.3.7.3.22 0 .44-.07.62-.22l7-6c.44-.34.5-.97.16-1.4-.34-.44-.97-.5-1.4-.16zM35 45h22c.55 0 1-.45 1-1s-.45-1-1-1H35c-.55 0-1 .45-1 1s.45 1 1 1zm0 5h5c.55 0 1-.45 1-1s-.45-1-1-1h-5c-.55 0-1 .45-1 1s.45 1 1 1zm20-2h-7c-.55 0-1 .45-1 1s.45 1 1 1h7c.55 0 1-.45 1-1s-.45-1-1-1zm-11.7.28c-.2.2-.3.44-.3.7 0 .3.1.54.3.73.18.2.43.3.7.3.27 0 .52-.1.7-.3.2-.18.3-.44.3-.7 0-.27-.1-.53-.3-.72-.37-.37-1.03-.37-1.4 0zM46 53h-7c-.55 0-1 .45-1 1s.45 1 1 1h7c.55 0 1-.45 1-1s-.45-1-1-1zm-11 2c.27 0 .52-.1.7-.3.2-.18.3-.44.3-.7 0-.27-.1-.53-.3-.72-.36-.37-1.04-.37-1.4 0-.2.2-.3.44-.3.7 0 .3.1.54.3.73.18.2.43.3.7.3zm9-35h8v3h-8v-3z" fill-rule="evenodd" fill="#1664CA"></path>
                </svg>
                <p class="text-primary-dark font-size-4">Les jobs que vous voulez</p><hr><p class="font-size-3">Sur Alloservice, vous êtes votre propre patron. Pas de jobs imposés, vous sélectionnez les catégories de job qui vous intéressent et vous êtes libre de proposer vos services.</p>
            </div>
            <div class="col-md-4">
                <svg aria-hidden="true" aria-label="Icone devenir jobeur 2" class="d-inline-block align-middle" height="96" role="img" version="1.1" viewbox="0 0 96 96" width="96">
                    <g fill-rule="evenodd" fill="none">
                        <path d="M61.9 25c-.46 2.28-2.5 4-4.9 4-1.12 0-2.16-.37-3-1-.84.63-1.88 1-3 1s-2.16-.37-3-1c-.84.63-1.88 1-3 1s-2.16-.37-3-1c-.84.63-1.88 1-3 1-.55 0-1-.45-1-1s.45-1 1-1c1.65 0 3-1.35 3-3s-1.35-3-3-3c-1.3 0-2.4.84-2.82 2H38c.55 0 1 .45 1 1s-.45 1-1 1H21v9h54v-9H61.9zm0-2H77v53H19V23h15.1c.47-2.28 2.5-4 4.9-4 1.12 0 2.16.37 3 1 .84-.63 1.88-1 3-1s2.16.37 3 1c.84-.63 1.88-1 3-1s2.16.37 3 1c.84-.63 1.88-1 3-1 2.4 0 4.44 1.72 4.9 4zm-6.57-1.5c.43.74.67 1.6.67 2.5 0 .9-.24 1.76-.67 2.5.48.3 1.05.5 1.67.5 1.65 0 3-1.35 3-3s-1.35-3-3-3c-.62 0-1.2.2-1.67.5zm-6 5c.48.3 1.05.5 1.67.5 1.65 0 3-1.35 3-3s-1.35-3-3-3c-.62 0-1.2.2-1.67.5.43.74.67 1.6.67 2.5 0 .9-.24 1.76-.67 2.5zm-6-5c.43.74.67 1.6.67 2.5 0 .9-.24 1.76-.67 2.5.48.3 1.05.5 1.67.5 1.65 0 3-1.35 3-3s-1.35-3-3-3c-.62 0-1.2.2-1.67.5zM75 74H21V36h54v38zM41 44.5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-42 8c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-42 7c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-42 8c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm7 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1z" fill="#1664CA"></path>
                    </g>
                </svg>
                <p class="text-primary-dark font-size-4">Votre emploi du temps</p><hr><p class="font-size-3">Proposez vos services quand vous le souhaitez et en fonction de vos disponibilités. Les jobs sont à réaliser à une date fixe ou une date butoire. Dans ce dernier cas, convenez d'une date de réalisation avec les clients.</p>
            </div>
            <div class="col-md-4">
                <svg aria-hidden="true" aria-label="Icone devenir jobeur 3" class="d-inline-block align-middle" height="96" role="img" version="1.1" viewbox="0 0 96 96" width="96">
                    <path d="M74 30H56v-7.6c0-2.42-1.98-4.4-4.4-4.4H26.4c-2.42 0-4.4 1.98-4.4 4.4v51.2C22 76 23.98 78 26.4 78h25.2C54 78 56 76.02 56 73.6V51h18V30zM26.4 20h25.2c1.32 0 2.4 1.08 2.4 2.4V24H24v-1.6c0-1.32 1.08-2.4 2.4-2.4zm25.2 56H26.4c-1.32 0-2.4-1.08-2.4-2.4V66h30v7.6c0 1.32-1.08 2.4-2.4 2.4zM54 64H24V26h30v4H36v21h4v7l9.33-7H54v13zm7-23h-3.17c-.46 0-.83-.45-.83-1s.37-1 .83-1H61v-3.17c0-.46.45-.83 1-.83s1 .37 1 .83V39h3.17c.46 0 .83.45.83 1s-.37 1-.83 1H63v3.17c0 .46-.45.83-1 .83s-1-.37-1-.83V41zm11 8H48.67L42 54v-5h-4V32h34v17zm-28.17-8h8.34c.46 0 .83-.45.83-1s-.37-1-.83-1h-8.34c-.46 0-.83.45-.83 1s.37 1 .83 1zM38 67c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm-3-50h4c.55 0 1-.45 1-1s-.45-1-1-1h-4c-.55 0-1 .45-1 1s.45 1 1 1zm7 0h1c.55 0 1-.45 1-1s-.45-1-1-1h-1c-.55 0-1 .45-1 1s.45 1 1 1z" fill-rule="evenodd" fill="#1664CA"></path>
                </svg>
                <p class="text-primary-dark font-size-4">Votre rémunération</p><hr><p class="font-size-3">Définissez votre rémunération pour chaque job en fonction du besoin du client et de vos expériences. En proposant vos services vous pouvez accepter la rémunération ou alors définir votre prix.</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-200 pt-5 pb-2">
    <div class="container">
        <h2 class="h4 mb-2 text-center">Développez votre notoriété</h2>
        <p class="text-primary font-size-4 text-center font-weight-bold">Obtenez des évaluations de vos clients</p><hr><div>
            <div class="d-inline-block align-top u-width-33 text-center mb-3">
                <div class="mb-2">
                    <div class="img-user img-80"><img alt="Profil de Damien" class="img-fluid" src="{{ asset('images/medium_c195dfbd.jpg') }}"></div>
                </div>
                <p class="font-size-4">Damien</p>
                <p class="h5">Ramassage de feuilles</p>
                <p class="mb-0">
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                </p>
                <blockquote class="blockquote-sign font-size-3">
                    <span>Très sérieux, d'une très grande efficacité. 
                        Je recommande Damien à tous
                    </span>
                    <footer class="blockquote-footer mt-2">Marie-Christine, 91330 Yerres</footer>
                </blockquote>
            </div>
            <div class="d-inline-block align-top u-width-33 text-center mb-3">
                <div class="mb-2">
                    <div class="img-user img-80"><img alt="Profil de Lhassan " class="img-fluid" src="{{ asset('images/medium_01cf7a7e.jpg') }}"></div>
                </div>
                <p class="font-size-4">Lhassan
                </p>
                <p class="h5">Changement d'un ballon d'eau chaude 200l</p>
                <p class="mb-0">
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                </p>
                <blockquote class="blockquote-sign font-size-3">
                    <span>Lhassan est un très bon artisan.
                        Il n'hésite pa</span>
                    <footer class="blockquote-footer mt-2">Pascal, 95310 Saint-Ouen-l'Aumône</footer>
                </blockquote>
            </div>
            <div class="d-inline-block align-top u-width-33 text-center mb-3">
                <div class="mb-2">
                    <div class="img-user img-80"><img alt="Profil de Christophe" class="img-fluid" src="{{ asset('images/medium_890190b6.JPG') }}"></div>
                </div>
                <p class="font-size-4">Christophe</p>
                <p class="h5">Taille de haie</p>
                <p class="mb-0">
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                    <i class="fas fa-star user-star user-star-active"></i>
                </p>
                <blockquote class="blockquote-sign font-size-3">
                    <span>Christophe a fait un excellent travail pour tailler ma haie. Il était très disponible.
                        Super! je recommande</span>
                    <footer class="blockquote-footer mt-2">Valérie, 73000 Jacob-Bellecombette</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div id="batBeacon0.7345309196846534" style="width:0px; height:0px; display:none; visibility:hidden;"><img alt="" height="0" id="batBeacon0.6524590912532946" src="{{ asset('images/0') }}" style="width:0px; height:0px; display:none; visibility:hidden;" width="0"></div>
<div id="ads"></div>
<div class="bg-white py-5">
    <div class="container">
        <h2 class="h4 mb-4">Pas de revenu, pas de frais</h2>
        <div class="row">
            <div class="col-md-4 position-relative"><img alt="Subscription jobber" class="img-fluid mx-auto mb-3" height="300" src="{{ asset('images/subscription-jobber-d5a0174febf0edfb99e844bad42898252568c59376f7bb6687a66ce775f1b215.jpg') }}" width="450"></div>
            <div class="col-md-7">
                <p class="font-size-3">Alloservice met à votre disposition des services et des solutions pour vous permettre de développer votre activité de prestation de service :</p>
                <ul class="font-size-3">
                    <li>accédez aux offres de jobs proches de chez vous</li>
                    <li>bénéficiez de l'assurance AXA</li>
                    <li>développez votre notoriété grâce aux évaluations</li>
                    <li>disposez de nos solutions de gestion et de traitement administratif</li>
                </ul>
                <p class="font-size-3">En contrepartie de ces services, il vous sera retenu 3% sur les revenus réalisés sur la plateforme.</p>
                <p class="font-size-3">
                    <em>
                        <strong>Exemple :</strong>
                        sur 100 € réalisés, nous retenons 3 €. Si vous ne percevez pas de revenu, vous n'avez aucun frais.</em>
                </p>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <a class="btn btn-lg btn-yellow btn-block mt-3" data-scroll="true" href="#signup-form">Inscription</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIN DE MODIFICATION-->
{% endblock %}
