{% extends "base.html.twig" %}

{% block title %} Service à domicile à Lyon - {{ parent() }} {% endblock %}

{% block body %}
<!--[if lte IE 9]><p class="outdated-browser">Votre navigateur semble trop ancien. <a href="http://browsehappy.com/" target="_blank">Utilisez un navigateur moderne</a> pour profiter pleinement des fonctionnalités du site.</p><![endif]-->
    <div class="py-2 border-bottom d-flex align-items-center justify-content-center">
        <div class="promises-items-wrapper d-none d-lg-block">
            <div class="promises-items">
                <div class="ypj-fluid-container d-flex justify-content-between">
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center my-2 mr-3 pl-1 font-size-2 font-size-lg-3" data-content="Réservez sereinement, vous êtes couvert en cas d’accident, casse, dégradation et malfaçon." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-shield-alt mr-2 font-size-5 text-primary"></i>Services assurés par AXA</a>
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center my-2 mr-3 pl-1 font-size-2 font-size-lg-3" data-content="Maitrisez votre budget et évitez les mauvaises surprises. Les prix sont fixés à l&#39;avance entre vous et votre prestataire." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-handshake mr-2 font-size-5 text-primary"></i>Prix fixé à l'avance</a>
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center my-2 mr-3 pl-1 font-size-2 font-size-lg-3" data-content="Tous les prestataires sont vérifiés, suivis et évalués pour chaque service rendu afin de vous garantir le meilleur niveau de satisfaction." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-user-check mr-2 font-size-5 text-primary"></i>Prestations encadrées</a>
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center my-2 mr-3 pl-1 font-size-2 font-size-lg-3" data-content="Notre service client vous accompagne 7j/7 pour vous assurer le bon déroulement de votre demande." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-phone mr-2 font-size-5 text-primary"></i>Assistance 7j/7</a>
                </div>
            </div>
        </div>
        <div class="carousel slide d-block d-lg-none u-width-100 mx-2" data-interval="3000" data-ride="carousel" id="promisesCaroussel">
            <div class="carousel-inner caroussel-promises">
                <div class="carousel-item active">
                    <a class="ps-title text-dark remove-link-style cursor-pointe d-flex align-items-center justify-content-center my-2 pl-1 font-size-3r" data-content="Réservez sereinement, vous êtes couvert en cas d’accident, casse, dégradation et malfaçon." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-shield-alt mr-2 text-primary"></i>Services assurés par AXA</a>
                </div>
                <div class="carousel-item">
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center justify-content-center my-2 pl-1 font-size-3" data-content="Maitrisez votre budget et évitez les mauvaises surprises. Les prix sont fixés à l&#39;avance entre vous et votre prestataire." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-handshake mr-2 text-primary"></i>Prix fixé à l'avance</a>
                </div>
                <div class="carousel-item">
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center justify-content-center my-2 pl-1 font-size-3" data-content="Tous les prestataires sont vérifiés, suivis et évalués pour chaque service rendu afin de vous garantir le meilleur niveau de satisfaction." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-user-check mr-2 text-primary"></i>Prestations encadrées</a>
                </div>
                <div class="carousel-item">
                    <a class="ps-title text-dark remove-link-style cursor-pointer d-flex align-items-center justify-content-center my-2 pl-1 font-size-3" data-content="Notre service client vous accompagne 7j/7 pour vous assurer le bon déroulement de votre demande." data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="click" tabindex="0" title="">
                        <i class="fa fa-phone mr-2 text-primary"></i>Assistance 7j/7</a>
                </div>
            </div>
            <a class="u-button-icon carousel-control-prev" data-slide="prev" href="#promisesCaroussel">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="u-button-icon carousel-control-next" data-slide="next" href="#promisesCaroussel">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="ypj-fluid-container">
        <div class="my-2">
            <ol class="breadcrumb mb-3 pl-0" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a class="link-gray" href="{{ path('alloservice_site_homepage') }}" itemprop="item">
                        <span itemprop="name">Accueil</span>
                    </a><meta content="1" itemprop="position"></li>
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a class="link-gray" href="" itemprop="item">
                        <span itemprop="name">Service à domicile à Lyon</span>
                    </a><meta content="2" itemprop="position"></li>
            </ol>
        </div>
        <div class="mt-3 text-justify">
            <div class="content-intro">
                <div class="d-flex align-items-bottom flex-wrap">
                    <h1 class="mr-3">Service à domicile à Lyon</h1>
                </div>
                <div data-component="toggle" data-handle-outside="false" data-toggle-classname="show-more-intro-wrapper--full">
                    <div class="show-more-intro-wrapper" data-toggelable="">
                        <p class="font-size-2 font-size-sm-3 text-muted">Qu’il est difficile de trouver du temps pour soi dans une grande ville comme Lyon ! Entre le travail, les embouteillages, les courses et les enfants, vous avez du mal à assurer vos travaux domestiques ? Soufflez en faisant appel aux jobeurs de la communauté Alloservice pour vos petits travaux. Des particuliers compétents et fiables qui vont vous simplifier la vie ! Avec Alloservice, trouvez le prestataire idéal et ce, en quelques clics. Profitez mieux de votre temps libre grâce à notre solution de service à domicile sur Lyon.</p>
                        <button class="btn btn-show-more btn-blue-only-text font-size-2 font-size-sm-3 font-weight-bold" data-clickable="">Lire plus...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <h2 class="mb-3">De quel service à Lyon avez-vous besoin ?</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-diy"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Bricolage à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Bricolage à Lyon" src="{{ asset('images/bg-category-diy-f608f0ec4ba7e58d9cf35916074e55300ef0276e5c6ee0e7c377c496412d98cf.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-gardening"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Jardinage à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Jardinage à Lyon" src="{{ asset('images/bg-category-gardening-31129da090e57715731422253cb9f146cf5c65f874b548d146fcda2c57e5a94b.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-removal"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Déménagement à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Déménagement à Lyon" src="{{ asset('images/bg-category-removal-72d98769dd932156a9a0df49463fa073de653ca875fabb59d2420fe5a9e5dcf3.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-cleaning_ironing"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Ménage à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Ménage à Lyon" src="{{ asset('images/bg-category-cleaning_ironing-d2576b05d2c3f0ae6ed1885e34408b19851a5ae48c3978ec3f695cdc5930354c.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-baby_sitting"></div>
                                    </div>
                                    <div class="title isDiscount">
                                        <h3>Garde d'enfants à Lyon</h3>
                                    </div>
                                    <div class="promotion-marketing-banner d-flex align-items-center justify-content-center">
                                        <svg class="discount-corner-bg" height="61" width="61" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <lineargradient id="discountgr" x1="50%" x2="50%" y1="0%" y2="100%">
                                                    <stop offset="0%" stop-color="#FFF"></stop>
                                                    <stop offset="0%" stop-color="#FF916D"></stop>
                                                    <stop offset="100%" stop-color="#FFAC43"></stop>
                                                </lineargradient>
                                            </defs>
                                            <path d="M153.177 42h54a6 6 0 0 1 6 6v54l-60-60z" fill-rule="evenodd" fill="url(#discountgr)" transform="translate(-153 -41.745)"></path>
                                        </svg>
                                        <i class="fa fas fa-star text-white"></i>
                                    </div>
                                    <div class="promotion-marketing-text rounded-circle-box bg-discount py-1 px-2 mb-3">
                                        <p class="font-size-2 font-weight-medium text-white mb-0 mt-1 text-center">Première réservation offerte</p>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Garde d&#39;enfants à Lyon" src="{{ asset('images/bg-category-baby_sitting-ea40908286fc2eeee684ab68825cc3ac7e5d5f98a5b0de82424ba2660dc515db.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-pet_sitting"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Animaux à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Animaux à Lyon" src="{{ asset('images/bg-category-pet_sitting-4f2fde737360c039fc30efcd6609eddcf85a5a0f35330112695d4548e4b68a10.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-it"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Informatique à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Informatique à Lyon" src="{{ asset('images/bg-category-it-cc4f2e00c52220a63a442dfa2ec12324f93ac5e3c5d8ec988a5af2c647d71013.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="d-flex flex-column mb-grid-gutter">
                        <a class="link-gray font-size-4 category-hover" href="">
                            <div class="frosted-glass-shadow">
                                <div class="rounded overflow-hidden">
                                    <div class="picture">
                                        <div class="categories-block category-bg bg-category-event"></div>
                                    </div>
                                    <div class="title">
                                        <h3>Conciergerie à Lyon</h3>
                                    </div>
                                </div>
                                <div class="shadow"><img alt="Conciergerie à Lyon" src="{{ asset('images/bg-category-event-7a17cbea00ec5fb96563142a786c3ce7338ac35a16f711ea4cd9d653e0cbb6fc.jpg') }}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <h2>Nos jobeurs à Lyon sont à votre service</h2>
            <div class="row mt-3">
                <div class="col-md-6 col-lg-3 mb-3 pt-2">
                    <a class="d-flex align-items-center mb-2 text-decoration-none" href="">
                        <div>
                            <div class="avatar-border">
                                <div class="img-user img-80"><img alt="Profil de Kaira " src="{{ asset('images/medium_4b1fe355.jpg') }}"></div>
                            </div>
                        </div>
                        <div class="ml-2">
                            <p class="text-dark font-size-3 font-weight-medium u-link-text-decoration mb-2">Kaira
                            </p>
                            <p class="user-star-active font-weight-black text d-flex align-items-center">
                                <span class="rate-small">
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                </span>
                                <span class="font-size-2 ml-1">(21)</span>
                            </p>
                        </div>
                    </a>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-map-marker-alt mr-2 fa-fw"></i>Villeurbanne (69100)</div>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-briefcase mr-2 fa-fw"></i>93 jobs faits</div>
                    <p></p>
                    <div class="border rounded p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <strong class="text-truncate">Zahra</strong>
                            <div class="rate-small text-nowrap">
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                            </div>
                        </div>
                        <p class="text-muted u-text-md-max-line-3 font-size-2 mt-2 mb-0">"Très bon travail comme d’habitude, merci "</p>
                    </div>
                    <p></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 pt-2">
                    <a class="d-flex align-items-center mb-2 text-decoration-none" href="">
                        <div>
                            <div class="avatar-border">
                                <div class="img-user img-80"><img alt="Profil de Christophe" src="{{ asset('images/medium_544aa942.JPG') }}"></div>
                            </div>
                        </div>
                        <div class="ml-2">
                            <p class="text-dark font-size-3 font-weight-medium u-link-text-decoration mb-2">Christophe</p>
                            <p class="user-star-active font-weight-black text d-flex align-items-center">
                                <span class="rate-small">
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                </span>
                                <span class="font-size-2 ml-1">(81)</span>
                            </p>
                        </div>
                    </a>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-map-marker-alt mr-2 fa-fw"></i>Vaulx-en-Velin (69120)</div>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-briefcase mr-2 fa-fw"></i>97 jobs faits</div>
                    <p></p>
                    <div class="border rounded p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <strong class="text-truncate">Adil</strong>
                            <div class="rate-small text-nowrap">
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                            </div>
                        </div>
                        <p class="text-muted u-text-md-max-line-3 font-size-2 mt-2 mb-0">"Excellent travail, Christophe est très sympa, professionnel, je recommande !"</p>
                    </div>
                    <p></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 pt-2">
                    <a class="d-flex align-items-center mb-2 text-decoration-none" href="">
                        <div>
                            <div class="avatar-border">
                                <div class="img-user img-80"><img alt="Profil de Abdessamad" src="{{ asset('images/medium_79d59ab1.jpg') }}"></div>
                            </div>
                        </div>
                        <div class="ml-2">
                            <p class="text-dark font-size-3 font-weight-medium u-link-text-decoration mb-2">Abdessamad</p>
                            <p class="user-star-active font-weight-black text d-flex align-items-center">
                                <span class="rate-small">
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                </span>
                                <span class="font-size-2 ml-1">(44)</span>
                            </p>
                        </div>
                    </a>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-map-marker-alt mr-2 fa-fw"></i>Villeurbanne (69100)</div>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-briefcase mr-2 fa-fw"></i>64 jobs faits</div>
                    <p></p>
                    <div class="border rounded p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <strong class="text-truncate">Ali</strong>
                            <div class="rate-small text-nowrap">
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                            </div>
                        </div>
                        <p class="text-muted u-text-md-max-line-3 font-size-2 mt-2 mb-0">"Nikel"</p>
                    </div>
                    <p></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 pt-2">
                    <a class="d-flex align-items-center mb-2 text-decoration-none" href="">
                        <div>
                            <div class="avatar-border">
                                <div class="img-user img-80"><img alt="Profil de Frederic" src="{{ asset('images/medium_ca11a069.jpg') }}"></div>
                            </div>
                        </div>
                        <div class="ml-2">
                            <p class="text-dark font-size-3 font-weight-medium u-link-text-decoration mb-2">Frederic</p>
                            <p class="user-star-active font-weight-black text d-flex align-items-center">
                                <span class="rate-small">
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                    <i class="fas fa-star user-star user-star-active"></i>
                                </span>
                                <span class="font-size-2 ml-1">(43)</span>
                            </p>
                        </div>
                    </a>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-map-marker-alt mr-2 fa-fw"></i>Lyon-9E-Arrondissement (69009)</div>
                    <div class="mb-1 font-weight-medium pl-2">
                        <i class="fa fa-briefcase mr-2 fa-fw"></i>47 jobs faits</div>
                    <p></p>
                    <div class="border rounded p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <strong class="text-truncate">Constance</strong>
                            <div class="rate-small text-nowrap">
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                                <i class="fas fa-star user-star user-star-active"></i>
                            </div>
                        </div>
                        <p class="text-muted u-text-md-max-line-3 font-size-2 mt-2 mb-0">"Très pro, ponctuel et sympa ! Je recommande à 100 %"</p>
                    </div>
                    <p></p>
                </div>
            </div>
            <a class="font-size-3 font-weight-bold d-block" href="">Voir tous les jobeurs à Lyon (2083)<i class="fas fa-chevron-right pl-1 font-size-1"></i>
            </a>
        </div>
        <div class="my-5">
            <h2>Dernières annonces à Lyon</h2>
            <div class="row mt-3 d-flex align-items-stretch flex-wrap">
                <div class="col-lg-3 col-md-6 col-12 mb-3">
                    <div class="py-2 h-100">
                        <div class="d-flex flex-column justify-content-between border rounded p-3 service-job">
                            <div class="mr-1">
                                <strong>
                                    <a class="font-size-3 text-dark" href="">Besoin de menus travaux lors de depart de locataires à Lyon (69002)</a>
                                </strong>
                                <div class="mt-2">
                                    <div class="mb-1 text-muted service-job-description font-size-2">Suite aux departs de locataires dans nos studios et de notre depart sur Paris, nous recherchons une personne suscepti...</div>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline justify-content-between mt-3 font-weight-medium">
                                <span class="pr-2 font-size-2">
                                    <i class="fa fa-stopwatch fa-lg"></i>
                                    8 h 30 de service</span>
                                <div class="font-size-4 font-weight-black text-primary">
                                    <div class="price-content">
                                        <div class="price">
                                            <span>144,50</span>
                                            <span>€</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-3">
                    <div class="py-2 h-100">
                        <div class="d-flex flex-column justify-content-between border rounded p-3 service-job">
                            <div class="mr-1">
                                <strong>
                                    <a class="font-size-3 text-dark" href="">Aide au déménagement à Lyon (69008)</a>
                                </strong>
                                <div class="mt-2">
                                    <div class="mb-1 text-muted service-job-description font-size-2">Cherche personne pour déménager frigo machine à laver table basse meuble télé des carto  et Sacdee de voyage</div>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline justify-content-between mt-3 font-weight-medium">
                                <span class="pr-2 font-size-2">
                                    <i class="fa fa-stopwatch fa-lg"></i>
                                    2 h de service</span>
                                <div class="font-size-4 font-weight-black text-primary">
                                    <div class="price-content">
                                        <div class="price">
                                            <span>34,00</span>
                                            <span>€</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-3">
                    <div class="py-2 h-100">
                        <div class="d-flex flex-column justify-content-between border rounded p-3 service-job">
                            <div class="mr-1">
                                <strong>
                                    <a class="font-size-3 text-dark" href="">Garde de chat à Lyon (69003)</a>
                                </strong>
                                <div class="mt-2">
                                    <div class="mb-1 text-muted service-job-description font-size-2">Bonjour, Nous recherchons  quelqu'un à l'aise avec les chats pour rendre visite à Chataigne 9 ans , tous les jour...</div>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline justify-content-between mt-3 font-weight-medium">
                                <span class="pr-2 font-size-2">
                                    <i class="fa fa-stopwatch fa-lg"></i>
                                    10 h de service</span>
                                <div class="font-size-4 font-weight-black text-primary">
                                    <div class="price-content">
                                        <div class="price">
                                            <span>80,00</span>
                                            <span>€</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-3">
                    <div class="py-2 h-100">
                        <div class="d-flex flex-column justify-content-between border rounded p-3 service-job">
                            <div class="mr-1">
                                <strong>
                                    <a class="font-size-3 text-dark" href="">Couper un arbre à Nivolas-Vermelle (38300)</a>
                                </strong>
                                <div class="mt-2">
                                    <div class="mb-1 text-muted service-job-description font-size-2">Coupe de deux cerisiers malades et non entretenus depuis longtemps. Les dates d intervention sont flexibles.</div>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline justify-content-between mt-3 font-weight-medium">
                                <span class="pr-2 font-size-2">
                                    <i class="fa fa-stopwatch fa-lg"></i>
                                    7 h de service</span>
                                <div class="font-size-4 font-weight-black text-primary">
                                    <div class="price-content">
                                        <div class="price">
                                            <span>119,00</span>
                                            <span>€</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="font-size-3 font-weight-bold d-block" href="">Voir toutes les annonces à Lyon (11975)<i class="fas fa-chevron-right pl-1 font-size-1"></i>
            </a>
        </div>
        <div class="my-5">
            <div class="mt-5">
                <h2 class="mt-0 mb-1">Comment ça marche ?</h2>
                <div class="row mt-4">
                    <div class="col-sm-4 text-center col-hiw p-3 mb-3 mb-sm-0"><img alt="Hiw icon1" height="200" src="{{ asset('images/hiw-icon1-c2b46308c928256d1bc34d7fcb07a162a7140c3f120d810f55dc9db87de74627.svg') }}" width="200"><p class="h5 font-weight-medium mt-2">Demandez un service</p>
                        <p class="font-size-3 font-weight-normal text-muted hiw-text-size">Remplissez le formulaire et obtenez une estimation du prix et de la durée</p>
                    </div>
                    <div class="col-sm-4 text-center col-hiw p-3 mb-3 mb-sm-0"><img alt="Hiw icon2" height="200" src="{{ asset('images/hiw-icon2-641d5c09d8789cb41711d0e41557929d8ee2a196bab3b2e47b875f03132b960e.svg') }}" width="200"><p class="h5 font-weight-medium mt-2">Choisissez votre jobeur</p>
                        <p class="font-size-3 font-weight-normal text-muted hiw-text-size">Des jobeurs compétents et proches de chez vous vous proposent leurs services</p>
                    </div>
                    <div class="col-sm-4 text-center col-hiw p-3 mb-3 mb-sm-0"><img alt="Hiw icon3" height="200" src="{{ asset('images/hiw-icon3-b21fb9288ea360942c1a3a595cd3d5e481725e37e615bb42e74ced0a7d98a56d.svg') }}" width="200"><p class="h5 font-weight-medium mt-2">Souriez, c'est fait !</p>
                        <p class="font-size-3 font-weight-normal text-muted hiw-text-size">Votre jobeur vous rend service au prix et à la date convenus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ypj-fluid-container">
        <div class="my-5">
            <h2>Le service à domicile près de chez vous</h2>
            <div class="d-flex flex-row flex-wrap">
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Paris" src="{{ asset('images/paris-367832f28b827571fe90b150ac396a3392919f18d570a91f43492cca752e446a.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Paris" src="{{ asset('images/paris-367832f28b827571fe90b150ac396a3392919f18d570a91f43492cca752e446a.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Paris</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Marseille" src="{{ asset('images/marseille-4f993557dbddfe67377f17a68fa627621e50e12d6ccf9b6b7b172bbaa076d401.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Marseille" src="{{ asset('images/marseille-4f993557dbddfe67377f17a68fa627621e50e12d6ccf9b6b7b172bbaa076d401.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Marseille</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Lyon" src="{{ asset('images/lyon-e9442d3d640b16f1923da05b9b225f10153319c9feec656b5ea8b57d939402a0.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Lyon" src="{{ asset('images/lyon-e9442d3d640b16f1923da05b9b225f10153319c9feec656b5ea8b57d939402a0.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Lyon</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Toulouse" src="{{ asset('images/toulouse-cc0231a4d8334fd15ba29fd87fe41bf19a0506ad1f3ecf166b8c0d1db23e75dc.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Toulouse" src="{{ asset('images/toulouse-cc0231a4d8334fd15ba29fd87fe41bf19a0506ad1f3ecf166b8c0d1db23e75dc.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Toulouse</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Nice" src="{{ asset('images/nice-e298de323bb5eeddd5779065e59d840af6b6966d06bf086dc5b0549f326ae4c7.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Nice" src="{{ asset('images/nice-e298de323bb5eeddd5779065e59d840af6b6966d06bf086dc5b0549f326ae4c7.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Nice</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Nantes" src="{{ asset('images/nantes-f82768b5fa34f23478c90782ad88ccb8e6b8d48bc3fa2c742bb6d8dcea2fad93.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Nantes" src="{{ asset('images/nantes-f82768b5fa34f23478c90782ad88ccb8e6b8d48bc3fa2c742bb6d8dcea2fad93.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Nantes</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Montpellier" src="{{ asset('images/montpellier-010274dde053a79371baf347c73025a95a9f0bdd2468d3f84a725bbd3aa67943.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Montpellier" src="{{ asset('images/montpellier-010274dde053a79371baf347c73025a95a9f0bdd2468d3f84a725bbd3aa67943.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Montpellier</p>
                        </h3>
                    </a>
                </div>
                <div class="col-1dot5">
                    <a class="text-decoration-none d-block frosted-glass-hover" href="">
                        <div class="frosted-glass-shadow mb-1">
                            <div class="picture rounded" style="height:100px"><img alt="Service à domicile à Bordeaux" src="{{ asset('images/bordeaux-14f12cce4859e273c99eb61ffe1c8efe79c04bda5e815c9fb4734289e88e66fe.jpg') }}"></div>
                            <div class="shadow"><img alt="Service à domicile à Bordeaux" src="{{ asset('images/bordeaux-14f12cce4859e273c99eb61ffe1c8efe79c04bda5e815c9fb4734289e88e66fe.jpg') }}"></div>
                        </div>
                        <h3 class="font-size-13px mt-3">
                            <span class="text-muted font-weight-medium">Service à domicile à</span>
                            <p class="text-dark font-weight-medium mt-1 mb-0 font-size-4">Bordeaux</p>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div><hr><div class="ypj-fluid-container text-justify">
        <div class="my-5">
            <div class="bottom-long-text">
                <h2>Alloservice : entre simplicité et rapidité</h2>
                <p>Sur notre plateforme, nous mettons l’accent pour simplifier au maximum votre recherche de prestataires de services à domicile à Lyon. Notre plateforme vous apportera l’assistance nécessaire afin de détailler votre annonce selon vos besoins, et ce en un rien de temps. Une fois votre annonce en ligne, vous êtes alors contacté par des
                    <a class="text-primary" href="">jobeurs</a>
                    répondant au plus près aux critères mentionnés dans votre demande de service à domicile.</p>
                <p>Ce procédé vous assure non seulement un gain de temps précieux mais aussi l’assurance d’être mis en relation avec des jobeurs adéquats. Ils pourront également vous accompagner dans vos démarches grâce à leurs conseils judicieux. Par exemple, en leur indiquant la nature du travail à effectuer avec précision, ils pourront notamment se charger de dresser l’inventaire des produits nécessaires, chose pas toujours évidente lorsque l’on n’est pas soi-même expert.</p>
                <p>Nos jobeurs ont tous en commun d’être des passionnés dans leur domaine d’activités : des fées du logis, des
                    <a class="text-primary" href="">bricoleurs hors pairs</a>, des personnes expérimentées dans la garde d’enfants, des amoureux de la nature, etc. Ils ont un savoir-faire éprouvé, une expérience acquise au fil des années, maîtrisent leur sujet, et sauront vous faire bénéficier de leurs astuces et bons plans. A chaque nouvelle inscription,
                    <a class="text-primary" href="">nos équipes de modération vérifient le profil du jobeur</a>. Les candidatures sont examinées ainsi que la photo, les pièces d’identité et les données transmises.</p>
                <h2 class="mt-4">Quels sont les services de Alloservice sur Lyon ?</h2>
                <h3 class="h5">Une aide de dernière minute pour un déménagement</h3>
                <p>Vous êtes prêt à emménager dans votre nouvel appartement situé au quartier des Pentes de la Croix-Rousse mais votre ami et son camion vous ont fait faux bond ? En seulement quelques clics, vous trouverez une
                    <a class="text-primary" href="">aide au déménagement à Lyon</a>
                    sur Alloservice, accompagnée du camion indispensable à charger et décharger vos affaires.</p>
                <h2 class="h5">Faire appel aux services d’une femme de ménage à Lyon</h2>
                <p>Vous rentrez du travail après un trajet fatigant de Part-Dieu jusqu’au Vieux-Lyon et vous n’avez pas la force d’attaquer le grand ménage mensuel ? Reposez-vous en
                    <a class="text-primary" href="">déléguant cette tâche à une aide ménagère inscrite sur Alloservice</a>, prête à venir aux horaires que vous lui indiquerez.</p>
                <h2 class="h5">Profiter d’une assistance à l’organisation d’événements</h2>
                <p>Vous recevez du monde à la maison samedi soir à Gerland ? Entre l’organisation, la décoration, les plats ou encore les idées d’animation, vous ne pouvez pas tout faire seul(e) et aimeriez bien profiter de vos amis. Contactez l’<a class="text-primary" href="https://alloservice.fr/jobeurs/concierge/lyon">un de nos concierges sur Lyon</a>
                    pour qu’il prépare l’apéritif et le dîner ou encore qu’il reste servir vos invités. Vous pourriez même convenir avec lui qu’il fasse quelques courses à votre place.</p>
                <p>Où que vous soyez dans les quartiers de la Presqu’île, côté Saône, ou les quartiers côté Rhône, il y a forcément un jobeur de Alloservice disponible dans de brefs délais.</p>
                <p>Avec Alloservice, trouver un prestataire de service à domicile sur Lyon à moindre coût devient facile et rapide. Spécifiez votre besoin et un jobeur est disponible dans les meilleurs délais pour vous servir où que vous habitiez à Lyon ou dans ses alentours.</p>
            </div>
        </div>
    </div>
{% endblock %}
