{% extends "base-gray.html.twig" %}

{% block title %} Antonio, service de informatique à Toulouse (31000) | 619257 : {{ parent() }} {% endblock %}

{% block body %}
<!--[if lte IE 9]><p class="outdated-browser">Votre navigateur semble trop ancien. <a href="http://browsehappy.com/" target="_blank">Utilisez un navigateur moderne</a> pour profiter pleinement des fonctionnalités du site.</p><![endif]-->
    <div class="bg-cover bg-jobber-profile py-3">
        <div class="container">
            <div class="row mt-4 mb-3">
                <div class="col-sm-5 text-center">
                    <div class="avatar-edit mx-auto">
                        <a class="link-white" href="https://alloservice.fr/profile/personal_informations#avatar">
                            <div class="avatar-hover">
                                <i class="far fa-camera"></i>
                                Modifier ma photo</div>
                            <div class="img-user img-200"><img alt="Profil de Antonio" src="{{ asset('images/large_3d07e6a6.jpg') }}"></div>
                        </a>
                    </div>
                    <h1 class="h2 text-white font-weight-normal">Antonio</h1>
                    <p class="mb-3">
                        <i class="fas fa-star user-star"></i>
                        <i class="fas fa-star user-star"></i>
                        <i class="fas fa-star user-star"></i>
                        <i class="fas fa-star user-star"></i>
                        <i class="fas fa-star user-star"></i>
                    </p>
                    <p class="font-size-4 mb-3 text-white">0 évaluation</p>
                </div>
                <div class="col-sm-7">
                    <div class="mb-4 text-center clearfix">
                        <div class="float-left mb-3 mr-3">
                            <div class="img-badge-shield d-inline-block align-middle mr-2">
                                <svg aria-hidden="true" aria-label="Informatique" class="d-inline-block align-middle" height="32" role="img" version="1.1" viewbox="0 0 800 800" width="32">
                                    <title>Categorie Informatique</title>
                                    <g fill-rule="evenodd" fill="none">
                                        <path d="M620 451.7V174.3c0-15.03-12.6-26.3-27.3-26.3h-386c-14.87 0-26.7 11.4-26.7 26.3v277.4c0 14.7 11.7 27.3 26.7 27.3h386c14.87 0 27.3-12.5 27.3-27.3z" fill="#4D5560"></path>
                                        <path d="M590 451.7c0-1.73.96-2.7 2.7-2.7h-386c2.1 0 3.3 1.3 3.3 2.7V174.3c0 .88-.44 1.93-1.25 2.7-.7.7-1.5 1-2.05 1h386c-1.17 0-2.7-1.37-2.7-3.7v277.4z" fill="#FFF"></path>
                                        <path d="M669.7 631.9c.9 3.3-5.4 6.1-12 6.1h-514c-6.6 0-12.9-2.9-12-6.1l63-137.2c1.2-3.2 5.4-5.7 12-5.7h386c6.6 0 10.6 2.5 12 5.7l65 137.2z" fill="#4D5560" stroke-width="30" stroke="#4D5560"></path>
                                        <path d="M467 608.8c1.3 6.5-1.4 11.2-8 11.2H343c-6.6 0-9.2-4.6-8-11.2l4-17.9c1.5-6.8 5.4-9.9 12-9.9h100c6.6 0 10.5 3 12 9.9l4 17.9zM377 206.5c0 3.6-2.9 6.5-6.5 6.5h-134c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h134c3.6 0 6.5 2.9 6.5 6.5zM367 240.5c0 3.6-2.9 6.5-6.5 6.5h-124c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h124c3.6 0 6.5 2.9 6.5 6.5zM307 308.5c0 3.6-2.9 6.5-6.5 6.5h-64c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h64c3.6 0 6.5 2.9 6.5 6.5zM407 274.5c0 3.6-2.9 6.5-6.5 6.5h-164c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h164c3.6 0 6.5 2.9 6.5 6.5z" fill="#B8C0CC"></path>
                                        <path d="M296.1 497.7h-28.5c-1.4 0-2.6.5-2.8 1.1l-4.4 13.4c-.2.7.7 1.2 2.1 1.2h29.6c1.4 0 2.7-.5 2.8-1.2l3.3-13.4c.2-.6-.7-1.1-2.1-1.1zm47.3 0h-28.5c-1.3 0-2.5.5-2.7 1.1l-2.9 13.4c-.1.7.9 1.2 2.3 1.2h29.6c1.4 0 2.6-.5 2.7-1.2l1.8-13.4c.1-.6-1-1.1-2.3-1.1zm47.2 0h-28.5c-1.4 0-2.5.5-2.6 1.1l-1.3 13.4c-.1.7 1 1.2 2.4 1.2h29.6c1.4 0 2.5-.5 2.6-1.2l.2-13.4c.1-.6-1-1.1-2.4-1.1zm19.1 15.7h29.6c1.4 0 2.5-.5 2.4-1.2l-1.3-13.4c-.1-.6-1.2-1.1-2.6-1.1h-28.5c-1.3 0-2.4.5-2.4 1.1l.2 13.4c.1.6 1.2 1.2 2.6 1.2zm78.7 0c1.4 0 2.4-.5 2.3-1.2l-2.9-13.4c-.1-.6-1.3-1.1-2.7-1.1h-28.5c-1.4 0-2.4.5-2.3 1.1l1.8 13.4c.1.7 1.3 1.2 2.7 1.2h29.6zm49.1 0c1.4 0 2.4-.5 2.1-1.2l-4.4-13.4c-.2-.6-1.5-1.1-2.8-1.1h-28.5c-1.3 0-2.3.5-2.2 1.1l3.3 13.4c.2.7 1.4 1.2 2.8 1.2h29.7zm-246.6 4.9h-30c-1.4 0-2.7.5-3 1.2l-4.9 14.8c-.2.7.8 1.3 2.2 1.3h31.2c1.5 0 2.8-.6 3-1.3l3.7-14.8c.2-.6-.8-1.2-2.2-1.2zm49.6 0h-30c-1.4 0-2.7.5-2.8 1.2l-3.2 14.8c-.2.7.9 1.3 2.4 1.3h31.2c1.5 0 2.7-.6 2.8-1.3l2-14.8c.1-.6-1-1.2-2.4-1.2zm49.7 0h-30c-1.4 0-2.6.5-2.7 1.2l-1.5 14.8c-.1.7 1.1 1.3 2.5 1.3h31.2c1.5 0 2.7-.6 2.7-1.3l.3-14.8c0-.6-1.1-1.2-2.5-1.2zm20 17.3h31.2c1.5 0 2.6-.6 2.5-1.3l-1.5-14.8c-.1-.7-1.3-1.2-2.7-1.2h-30c-1.4 0-2.6.5-2.5 1.2l.3 14.8c.1.8 1.3 1.3 2.7 1.3zm82.8 0c1.5 0 2.5-.6 2.4-1.3l-3.2-14.8c-.1-.7-1.4-1.2-2.8-1.2h-30c-1.4 0-2.5.5-2.4 1.2l2 14.8c.1.7 1.4 1.3 2.8 1.3H493zm51.7 0c1.5 0 2.5-.6 2.2-1.3l-4.9-14.8c-.2-.7-1.6-1.2-3-1.2h-30c-1.4 0-2.4.5-2.3 1.2l3.7 14.8c.2.7 1.5 1.3 3 1.3h31.3zm-260 7H253c-1.5 0-2.9.6-3.2 1.4l-5.5 16.6c-.3.8.8 1.5 2.3 1.5h33c1.6 0 3-.7 3.2-1.5l4.1-16.6c.4-.7-.7-1.4-2.2-1.4zm52.4 0h-31.7c-1.5 0-2.8.6-3 1.4l-3.5 16.6c-.2.8 1 1.5 2.5 1.5h33c1.6 0 2.9-.7 3-1.5l2.2-16.6c.2-.7-1-1.4-2.5-1.4zm52.5 0h-31.7c-1.5 0-2.8.6-2.8 1.4l-1.6 16.6c-.1.8 1.1 1.5 2.7 1.5h33c1.6 0 2.8-.7 2.9-1.5l.3-16.6c-.1-.7-1.3-1.4-2.8-1.4zm52.5 0h-31.7c-1.5 0-2.7.6-2.7 1.4l.3 16.6c0 .8 1.3 1.5 2.9 1.5h33c1.6 0 2.8-.7 2.7-1.5L445 544c-.2-.7-1.4-1.4-2.9-1.4zm55.4 1.4c-.2-.8-1.5-1.4-3-1.4h-31.7c-1.5 0-2.6.6-2.5 1.4l2.2 16.6c.1.8 1.5 1.5 3 1.5h33c1.6 0 2.7-.7 2.5-1.5l-3.5-16.6zm52.6 0c-.2-.8-1.7-1.4-3.2-1.4h-31.7c-1.5 0-2.6.6-2.4 1.4l4.1 16.6c.2.8 1.6 1.5 3.2 1.5h33c1.6 0 2.6-.7 2.3-1.5l-5.3-16.6zm-336.6-30.6h29.6c1.4 0 2.7-.5 2.8-1.2l4.3-13.4c.2-.6-.8-1.1-2.2-1.1h-28.5c-1.4 0-2.6.5-2.8 1.1l-5.4 13.4c-.1.6.8 1.2 2.2 1.2zm28.4 4.9h-30c-1.4 0-2.7.5-3 1.2l-5.9 14.8c-.2.7.8 1.3 2.2 1.3h31.2c1.5 0 2.8-.6 3-1.3l4.7-14.8c.2-.6-.8-1.2-2.2-1.2zm-8.2 24.3H202c-1.5 0-2.9.6-3.2 1.4l-6.5 16.6c-.3.8.8 1.5 2.3 1.5h33c1.6 0 3-.7 3.2-1.5l5.1-16.6c.4-.7-.7-1.4-2.2-1.4zm319-30.4c.2.7 1.4 1.2 2.8 1.2h29.6c1.4 0 2.4-.5 2.1-1.2l-5.4-13.4c-.2-.6-1.5-1.1-2.8-1.1h-28.5c-1.3 0-2.3.5-2.2 1.1l4.4 13.4zm42.9 22.1l-5.9-14.8c-.2-.7-1.6-1.2-3-1.2h-30c-1.4 0-2.4.5-2.3 1.2l4.7 14.8c.2.7 1.5 1.3 3 1.3h31.2c1.5 0 2.5-.5 2.3-1.3zm10.7 26.3l-6.5-16.6c-.2-.8-1.7-1.4-3.2-1.4H565c-1.5 0-2.6.6-2.4 1.4l5.1 16.6c.2.8 1.6 1.5 3.2 1.5h33c1.6-.1 2.6-.7 2.4-1.5z" fill="#FFF"></path>
                                    </g>
                                </svg>
                            </div>
                            <p class="d-inline-block align-middle text-left">
                                <span class="font-size-4 text-white">Informatique</span>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="float-left mb-2 mr-3">
                            <svg aria-hidden="true" aria-label="Identité vérifiée" class="d-inline-block align-middle mr-2" height="40" role="img" version="1.1" viewbox="0 0 200 200" width="40">
                                <g fill-rule="evenodd" fill="none">
                                    <path d="M101.5 0C67.17 0 31.16 7.2 5.93 24.2c-.6.4-14.96 93.3 93.36 175.2 0 0 .3.2.7.6.4-.4.7-.6.7-.6 108.4-81.9 93.95-174.8 93.35-175.2C178.1 9.4 140.9 0 101.5 0z" fill="#737E8C"></path>
                                    <path d="M128.4 54.97c-5.7 5.3-24.5 24.3-36.1 36-5.7-4.5-12.2-9.4-15.7-11.9-7.2-5.3-18.32-10.52-23.2-4.6-4.9 5.92-.1 13.1 6.9 21.9 6.9 8.8 17.47 20.34 22.4 24.5 3.26 2.77 4.9 3.5 7.7 4 .4.1.8.1 1.1.2 4.3.5 7.5 0 11.9-4.2 7.74-7.4 30.5-38 39.1-49.9 8.6-11.9 22-29.2 15.2-33.3-6.3-3.8-20.9 9.4-29.3 17.3z" fill="#FFF"></path>
                                </g>
                            </svg>
                            <span class="d-inline-block align-middle text-white font-size-4">Identité non vérifiée</span>
                        </div>
                    </div>
                    <div class="my-3 text-white">
                        <span class="font-size-4">31000 Toulouse</span>
                        <span class="px-2">|</span>
                        <span class="font-size-4">Membre depuis environ un mois</span>
                    </div>
                    <div class="mt-4">
                        <span data-component="share" data-share-fb-callback="/share/user/515971/facebook" data-share-tw-callback="/share/user/515971/twitter" data-share-url="https://alloservice.fr/jobeur/antonio-toulouse-619257?utm_campaign=share-profile&amp;utm_medium=link&amp;utm_source=facebook&amp;v=5io4">
                            <a class="btn btn-blue mr-1 mb-1" data-share="facebook-feed" href="#">
                                <i class="fab fa-facebook"></i>
                                Partager mon profil</a>
                            <a class="btn btn-blue mr-1 mb-1" data-share="twitter" href="https://twitter.com/intent/tweet?text=D%C3%A9couvrez%20mon%20profil%20jobeur%20sur%20Alloservice%20:&amp;hashtags=jobeur,%20jobbing&amp;url=https://ypj.io/efh8">
                                <i class="fab fa-twitter"></i>
                                Tweeter mon profil</a>
                        </span>
                        <a class="btn btn-light mr-1 mb-1" href="https://alloservice.fr/profile/personal_informations#avatar">
                            <i class="far fa-edit"></i>
                            Modifier mon profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4 pb-4">
        <div class="container">
            <div class="card mb-3" id="skills">
                <div class="card-header h6">
                    <i class="fas fa-check text-muted"></i>
                    Compétences</div>
                <ul class="default-list">
                    <li class="item-content">
                        <div class="p-3">
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <p>
                                        <svg aria-hidden="true" aria-label="Informatique" class="d-inline-block align-middle" height="64" role="img" version="1.1" viewbox="0 0 800 800" width="64">
                                            <title>Categorie Informatique</title>
                                            <g fill-rule="evenodd" fill="none">
                                                <path d="M620 451.7V174.3c0-15.03-12.6-26.3-27.3-26.3h-386c-14.87 0-26.7 11.4-26.7 26.3v277.4c0 14.7 11.7 27.3 26.7 27.3h386c14.87 0 27.3-12.5 27.3-27.3z" fill="#4D5560"></path>
                                                <path d="M590 451.7c0-1.73.96-2.7 2.7-2.7h-386c2.1 0 3.3 1.3 3.3 2.7V174.3c0 .88-.44 1.93-1.25 2.7-.7.7-1.5 1-2.05 1h386c-1.17 0-2.7-1.37-2.7-3.7v277.4z" fill="#FFF"></path>
                                                <path d="M669.7 631.9c.9 3.3-5.4 6.1-12 6.1h-514c-6.6 0-12.9-2.9-12-6.1l63-137.2c1.2-3.2 5.4-5.7 12-5.7h386c6.6 0 10.6 2.5 12 5.7l65 137.2z" fill="#4D5560" stroke-width="30" stroke="#4D5560"></path>
                                                <path d="M467 608.8c1.3 6.5-1.4 11.2-8 11.2H343c-6.6 0-9.2-4.6-8-11.2l4-17.9c1.5-6.8 5.4-9.9 12-9.9h100c6.6 0 10.5 3 12 9.9l4 17.9zM377 206.5c0 3.6-2.9 6.5-6.5 6.5h-134c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h134c3.6 0 6.5 2.9 6.5 6.5zM367 240.5c0 3.6-2.9 6.5-6.5 6.5h-124c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h124c3.6 0 6.5 2.9 6.5 6.5zM307 308.5c0 3.6-2.9 6.5-6.5 6.5h-64c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h64c3.6 0 6.5 2.9 6.5 6.5zM407 274.5c0 3.6-2.9 6.5-6.5 6.5h-164c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h164c3.6 0 6.5 2.9 6.5 6.5z" fill="#B8C0CC"></path>
                                                <path d="M296.1 497.7h-28.5c-1.4 0-2.6.5-2.8 1.1l-4.4 13.4c-.2.7.7 1.2 2.1 1.2h29.6c1.4 0 2.7-.5 2.8-1.2l3.3-13.4c.2-.6-.7-1.1-2.1-1.1zm47.3 0h-28.5c-1.3 0-2.5.5-2.7 1.1l-2.9 13.4c-.1.7.9 1.2 2.3 1.2h29.6c1.4 0 2.6-.5 2.7-1.2l1.8-13.4c.1-.6-1-1.1-2.3-1.1zm47.2 0h-28.5c-1.4 0-2.5.5-2.6 1.1l-1.3 13.4c-.1.7 1 1.2 2.4 1.2h29.6c1.4 0 2.5-.5 2.6-1.2l.2-13.4c.1-.6-1-1.1-2.4-1.1zm19.1 15.7h29.6c1.4 0 2.5-.5 2.4-1.2l-1.3-13.4c-.1-.6-1.2-1.1-2.6-1.1h-28.5c-1.3 0-2.4.5-2.4 1.1l.2 13.4c.1.6 1.2 1.2 2.6 1.2zm78.7 0c1.4 0 2.4-.5 2.3-1.2l-2.9-13.4c-.1-.6-1.3-1.1-2.7-1.1h-28.5c-1.4 0-2.4.5-2.3 1.1l1.8 13.4c.1.7 1.3 1.2 2.7 1.2h29.6zm49.1 0c1.4 0 2.4-.5 2.1-1.2l-4.4-13.4c-.2-.6-1.5-1.1-2.8-1.1h-28.5c-1.3 0-2.3.5-2.2 1.1l3.3 13.4c.2.7 1.4 1.2 2.8 1.2h29.7zm-246.6 4.9h-30c-1.4 0-2.7.5-3 1.2l-4.9 14.8c-.2.7.8 1.3 2.2 1.3h31.2c1.5 0 2.8-.6 3-1.3l3.7-14.8c.2-.6-.8-1.2-2.2-1.2zm49.6 0h-30c-1.4 0-2.7.5-2.8 1.2l-3.2 14.8c-.2.7.9 1.3 2.4 1.3h31.2c1.5 0 2.7-.6 2.8-1.3l2-14.8c.1-.6-1-1.2-2.4-1.2zm49.7 0h-30c-1.4 0-2.6.5-2.7 1.2l-1.5 14.8c-.1.7 1.1 1.3 2.5 1.3h31.2c1.5 0 2.7-.6 2.7-1.3l.3-14.8c0-.6-1.1-1.2-2.5-1.2zm20 17.3h31.2c1.5 0 2.6-.6 2.5-1.3l-1.5-14.8c-.1-.7-1.3-1.2-2.7-1.2h-30c-1.4 0-2.6.5-2.5 1.2l.3 14.8c.1.8 1.3 1.3 2.7 1.3zm82.8 0c1.5 0 2.5-.6 2.4-1.3l-3.2-14.8c-.1-.7-1.4-1.2-2.8-1.2h-30c-1.4 0-2.5.5-2.4 1.2l2 14.8c.1.7 1.4 1.3 2.8 1.3H493zm51.7 0c1.5 0 2.5-.6 2.2-1.3l-4.9-14.8c-.2-.7-1.6-1.2-3-1.2h-30c-1.4 0-2.4.5-2.3 1.2l3.7 14.8c.2.7 1.5 1.3 3 1.3h31.3zm-260 7H253c-1.5 0-2.9.6-3.2 1.4l-5.5 16.6c-.3.8.8 1.5 2.3 1.5h33c1.6 0 3-.7 3.2-1.5l4.1-16.6c.4-.7-.7-1.4-2.2-1.4zm52.4 0h-31.7c-1.5 0-2.8.6-3 1.4l-3.5 16.6c-.2.8 1 1.5 2.5 1.5h33c1.6 0 2.9-.7 3-1.5l2.2-16.6c.2-.7-1-1.4-2.5-1.4zm52.5 0h-31.7c-1.5 0-2.8.6-2.8 1.4l-1.6 16.6c-.1.8 1.1 1.5 2.7 1.5h33c1.6 0 2.8-.7 2.9-1.5l.3-16.6c-.1-.7-1.3-1.4-2.8-1.4zm52.5 0h-31.7c-1.5 0-2.7.6-2.7 1.4l.3 16.6c0 .8 1.3 1.5 2.9 1.5h33c1.6 0 2.8-.7 2.7-1.5L445 544c-.2-.7-1.4-1.4-2.9-1.4zm55.4 1.4c-.2-.8-1.5-1.4-3-1.4h-31.7c-1.5 0-2.6.6-2.5 1.4l2.2 16.6c.1.8 1.5 1.5 3 1.5h33c1.6 0 2.7-.7 2.5-1.5l-3.5-16.6zm52.6 0c-.2-.8-1.7-1.4-3.2-1.4h-31.7c-1.5 0-2.6.6-2.4 1.4l4.1 16.6c.2.8 1.6 1.5 3.2 1.5h33c1.6 0 2.6-.7 2.3-1.5l-5.3-16.6zm-336.6-30.6h29.6c1.4 0 2.7-.5 2.8-1.2l4.3-13.4c.2-.6-.8-1.1-2.2-1.1h-28.5c-1.4 0-2.6.5-2.8 1.1l-5.4 13.4c-.1.6.8 1.2 2.2 1.2zm28.4 4.9h-30c-1.4 0-2.7.5-3 1.2l-5.9 14.8c-.2.7.8 1.3 2.2 1.3h31.2c1.5 0 2.8-.6 3-1.3l4.7-14.8c.2-.6-.8-1.2-2.2-1.2zm-8.2 24.3H202c-1.5 0-2.9.6-3.2 1.4l-6.5 16.6c-.3.8.8 1.5 2.3 1.5h33c1.6 0 3-.7 3.2-1.5l5.1-16.6c.4-.7-.7-1.4-2.2-1.4zm319-30.4c.2.7 1.4 1.2 2.8 1.2h29.6c1.4 0 2.4-.5 2.1-1.2l-5.4-13.4c-.2-.6-1.5-1.1-2.8-1.1h-28.5c-1.3 0-2.3.5-2.2 1.1l4.4 13.4zm42.9 22.1l-5.9-14.8c-.2-.7-1.6-1.2-3-1.2h-30c-1.4 0-2.4.5-2.3 1.2l4.7 14.8c.2.7 1.5 1.3 3 1.3h31.2c1.5 0 2.5-.5 2.3-1.3zm10.7 26.3l-6.5-16.6c-.2-.8-1.7-1.4-3.2-1.4H565c-1.5 0-2.6.6-2.4 1.4l5.1 16.6c.2.8 1.6 1.5 3.2 1.5h33c1.6-.1 2.6-.7 2.4-1.5z" fill="#FFF"></path>
                                            </g>
                                        </svg>
                                    </p>
                                    <div class="font-size-4 font-weight-black text-center">Informatique</div>
                                    <p class="font-size-3 text-center">
                                        <i class="fas fa-check text-muted"></i>
                                        0 job fait</p>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <p class="font-size-3">
                                        <strong>Informatique</strong>
                                    </p>
                                    <p></p>
                                    <blockquote class="blockquote-sign font-size-3 p-0">
                                        <span style="word-break: break-all;">J'ai pas une information. Mes compétences en informatique sont basés en langages de programmation.</span>
                                    </blockquote>
                                    <p></p>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <a class="btn btn-green btn-block btn-break" href="https://alloservice.fr/services/informatique">Demander un service "Informatique"</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card mb-3">
                <div class="anchor">
                    <a name="description">&nbsp;</a>
                </div>
                <div class="card-header h6">À propos</div>
                <div class="card-body">
                    <p class="font-size-3 text-break-word">J'ai besoin de cambrioleur.</p>
                </div>
            </div>
            <p class="h3 my-4 text-center">Quels sont les autres jobeurs situés à Toulouse ?</p>
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <a href="https://alloservice.fr/jobeur/pierre-toulouse-110700">
                                        <div class="mb-2">
                                            <div class="img-user img-120">
                                                <img alt="Profil de Pierre" src="{{ asset('images/mlarge_063e3947.jpg') }}"></div>
                                        </div>
                                        <p class="font-size-4">Pierre</p>
                                    </a>
                                    <p class="mb-1">
                                        <i class="fas fa-check text-muted"></i>
                                        304 jobs faits</p>
                                    <p class="mb-0">
                                        <i class="fas fa-star text-muted"></i>
                                        173 évaluations</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <a href="https://alloservice.fr/jobeur/michel-toulouse-420860">
                                        <div class="mb-2">
                                            <div class="img-user img-120">
                                                <img alt="Profil de Michel" src="{{ asset('images/mlarge_ffe59c8b.JPG') }}">
                                                </div>
                                        </div>
                                        <p class="font-size-4">Michel</p>
                                    </a>
                                    <p class="mb-1">
                                        <i class="fas fa-check text-muted"></i>
                                        135 jobs faits</p>
                                    <p class="mb-0">
                                        <i class="fas fa-star text-muted"></i>
                                        97 évaluations</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <a href="https://alloservice.fr/jobeur/christophe-toulouse-309508">
                                        <div class="mb-2">
                                            <div class="img-user img-120"><img alt="Profil de Christophe" src="{{ asset('images/mlarge_a4a4cec4.jpg') }}"></div>
                                        </div>
                                        <p class="font-size-4">Christophe</p>
                                    </a>
                                    <p class="mb-1">
                                        <i class="fas fa-check text-muted"></i>
                                        116 jobs faits</p>
                                    <p class="mb-0">
                                        <i class="fas fa-star text-muted"></i>
                                        91 évaluations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center mt-2">
                <a href="https://alloservice.fr/jobeurs/toulouse">Découvrir tous les jobeurs de Toulouse</a>
            </p>
        </div>
    </div>
{% endblock %}
